	dc.b $f8, $26, $bd	; Set FM register 38 to value 189
; Pattern $00, Row 0; 
	dc.b $40, $17	; Set instrument for channel FM 1
	dc.b $00, $c1	; Note C-6 on channel FM 1
	dc.b $f0, $40	; Set params for channel FM 1
; Pattern $00, Row 1; 
; Pattern $00, Row 2; 
; Pattern $00, Row 3; 
; Pattern $00, Row 4; 
	dc.b $fe, $0a	; Delay
	dc.b $41, $17	; Set instrument for channel FM 2
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $f1, $80	; Set params for channel FM 2
; Pattern $00, Row 5; 
; Pattern $00, Row 6; 
; Pattern $00, Row 7; 
; Pattern $00, Row 8; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
; Pattern $00, Row 9; 
; Pattern $00, Row 10; 
; Pattern $00, Row 11; 
; Pattern $00, Row 12; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
; Pattern $00, Row 13; 
; Pattern $00, Row 14; 
; Pattern $00, Row 15; 
; Pattern $00, Row 16; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
; Pattern $00, Row 17; 
; Pattern $00, Row 18; 
; Pattern $00, Row 19; 
; Pattern $00, Row 20; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
; Pattern $00, Row 21; 
; Pattern $00, Row 22; 
; Pattern $00, Row 23; 
; Pattern $00, Row 24; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
; Pattern $00, Row 25; 
; Pattern $00, Row 26; 
; Pattern $00, Row 27; 
; Pattern $00, Row 28; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
; Pattern $00, Row 29; 
; Pattern $00, Row 30; 
; Pattern $00, Row 31; 
; Pattern $00, Row 32; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
; Pattern $00, Row 33; 
; Pattern $00, Row 34; 
; Pattern $00, Row 35; 
; Pattern $00, Row 36; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
; Pattern $00, Row 37; 
; Pattern $00, Row 38; 
; Pattern $00, Row 39; 
; Pattern $00, Row 40; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
; Pattern $00, Row 41; 
; Pattern $00, Row 42; 
; Pattern $00, Row 43; 
; Pattern $00, Row 44; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
; Pattern $00, Row 45; 
; Pattern $00, Row 46; 
; Pattern $00, Row 47; 
; Pattern $01, Row 0; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
; Pattern $01, Row 1; 
; Pattern $01, Row 2; 
	dc.b $fe, $05	; Delay
	dc.b $42, $17	; Set instrument for channel FM 3
	dc.b $02, $a1	; Note C-5 on channel FM 3
; Pattern $01, Row 3; 
; Pattern $01, Row 4; 
	dc.b $fe, $05	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
; Pattern $01, Row 5; 
; Pattern $01, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $02, $a7	; Note D#5 on channel FM 3
; Pattern $01, Row 7; 
; Pattern $01, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
; Pattern $01, Row 9; 
; Pattern $01, Row 10; 
; Pattern $01, Row 11; 
; Pattern $01, Row 12; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
; Pattern $01, Row 13; 
; Pattern $01, Row 14; 
; Pattern $01, Row 15; 
; Pattern $01, Row 16; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
; Pattern $01, Row 17; 
; Pattern $01, Row 18; 
; Pattern $01, Row 19; 
; Pattern $01, Row 20; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
; Pattern $01, Row 21; 
; Pattern $01, Row 22; 
; Pattern $01, Row 23; 
; Pattern $01, Row 24; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
; Pattern $01, Row 25; 
; Pattern $01, Row 26; 
; Pattern $01, Row 27; 
; Pattern $01, Row 28; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
; Pattern $01, Row 29; 
; Pattern $01, Row 30; 
; Pattern $01, Row 31; 
; Pattern $01, Row 32; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
; Pattern $01, Row 33; 
; Pattern $01, Row 34; 
; Pattern $01, Row 35; 
; Pattern $01, Row 36; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
; Pattern $01, Row 37; 
; Pattern $01, Row 38; 
	dc.b $fe, $05	; Delay
	dc.b $02, $a1	; Note C-5 on channel FM 3
; Pattern $01, Row 39; 
; Pattern $01, Row 40; 
	dc.b $fe, $05	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
; Pattern $01, Row 41; 
; Pattern $01, Row 42; 
	dc.b $fe, $05	; Delay
	dc.b $02, $a7	; Note D#5 on channel FM 3
; Pattern $01, Row 43; 
; Pattern $01, Row 44; 
	dc.b $fe, $05	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
	dc.b $02, $c7	; Note D#6 on channel FM 3
; Pattern $01, Row 45; 
; Pattern $01, Row 46; 
; Pattern $01, Row 47; 
; Pattern $02, Row 0; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
; Pattern $02, Row 1; 
; Pattern $02, Row 2; 
	dc.b $fe, $05	; Delay
	dc.b $02, $a1	; Note C-5 on channel FM 3
; Pattern $02, Row 3; 
; Pattern $02, Row 4; 
	dc.b $fe, $05	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
; Pattern $02, Row 5; 
; Pattern $02, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $02, $a7	; Note D#5 on channel FM 3
; Pattern $02, Row 7; 
; Pattern $02, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
; Pattern $02, Row 9; 
; Pattern $02, Row 10; 
; Pattern $02, Row 11; 
; Pattern $02, Row 12; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
; Pattern $02, Row 13; 
; Pattern $02, Row 14; 
	dc.b $fe, $05	; Delay
	dc.b $02, $cf	; Note G-6 on channel FM 3
; Pattern $02, Row 15; 
; Pattern $02, Row 16; 
	dc.b $fe, $05	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
; Pattern $02, Row 17; 
; Pattern $02, Row 18; 
	dc.b $fe, $05	; Delay
	dc.b $02, $d3	; Note A-6 on channel FM 3
; Pattern $02, Row 19; 
; Pattern $02, Row 20; 
	dc.b $fe, $05	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
; Pattern $02, Row 21; 
; Pattern $02, Row 22; 
; Pattern $02, Row 23; 
; Pattern $02, Row 24; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
	dc.b $02, $d5	; Note A#6 on channel FM 3
; Pattern $02, Row 25; 
; Pattern $02, Row 26; 
; Pattern $02, Row 27; 
; Pattern $02, Row 28; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
; Pattern $02, Row 29; 
; Pattern $02, Row 30; 
; Pattern $02, Row 31; 
; Pattern $02, Row 32; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
; Pattern $02, Row 33; 
; Pattern $02, Row 34; 
; Pattern $02, Row 35; 
; Pattern $02, Row 36; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
; Pattern $02, Row 37; 
; Pattern $02, Row 38; 
; Pattern $02, Row 39; 
; Pattern $02, Row 40; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
	dc.b $02, $cb	; Note F-6 on channel FM 3
; Pattern $02, Row 41; 
; Pattern $02, Row 42; 
; Pattern $02, Row 43; 
; Pattern $02, Row 44; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
	dc.b $02, $cf	; Note G-6 on channel FM 3
; Pattern $02, Row 45; 
; Pattern $02, Row 46; 
; Pattern $02, Row 47; 
; Pattern $03, Row 0; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
; Pattern $03, Row 1; 
; Pattern $03, Row 2; 
	dc.b $fe, $05	; Delay
	dc.b $02, $a1	; Note C-5 on channel FM 3
; Pattern $03, Row 3; 
; Pattern $03, Row 4; 
	dc.b $fe, $05	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
; Pattern $03, Row 5; 
; Pattern $03, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $02, $a7	; Note D#5 on channel FM 3
; Pattern $03, Row 7; 
; Pattern $03, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
; Pattern $03, Row 9; 
; Pattern $03, Row 10; 
; Pattern $03, Row 11; 
; Pattern $03, Row 12; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
; Pattern $03, Row 13; 
; Pattern $03, Row 14; 
	dc.b $fe, $05	; Delay
	dc.b $02, $cf	; Note G-6 on channel FM 3
; Pattern $03, Row 15; 
; Pattern $03, Row 16; 
	dc.b $fe, $05	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
; Pattern $03, Row 17; 
; Pattern $03, Row 18; 
	dc.b $fe, $05	; Delay
	dc.b $02, $d3	; Note A-6 on channel FM 3
; Pattern $03, Row 19; 
; Pattern $03, Row 20; 
	dc.b $fe, $05	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
; Pattern $03, Row 21; 
; Pattern $03, Row 22; 
; Pattern $03, Row 23; 
; Pattern $03, Row 24; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
	dc.b $02, $e5	; Note D-7 on channel FM 3
; Pattern $03, Row 25; 
; Pattern $03, Row 26; 
; Pattern $03, Row 27; 
; Pattern $03, Row 28; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
; Pattern $03, Row 29; 
; Pattern $03, Row 30; 
; Pattern $03, Row 31; 
; Pattern $03, Row 32; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
; Pattern $03, Row 33; 
; Pattern $03, Row 34; 
; Pattern $03, Row 35; 
; Pattern $03, Row 36; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
; Pattern $03, Row 37; 
; Pattern $03, Row 38; 
; Pattern $03, Row 39; 
; Pattern $03, Row 40; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
	dc.b $02, $d5	; Note A#6 on channel FM 3
; Pattern $03, Row 41; 
; Pattern $03, Row 42; 
; Pattern $03, Row 43; 
; Pattern $03, Row 44; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
	dc.b $02, $e1	; Note C-7 on channel FM 3
; Pattern $03, Row 45; 
; Pattern $03, Row 46; 
; Pattern $03, Row 47; 
; Pattern $04, Row 0; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
; Pattern $04, Row 1; 
; Pattern $04, Row 2; 
	dc.b $fe, $05	; Delay
	dc.b $02, $a1	; Note C-5 on channel FM 3
; Pattern $04, Row 3; 
; Pattern $04, Row 4; 
	dc.b $fe, $05	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
; Pattern $04, Row 5; 
; Pattern $04, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $02, $a7	; Note D#5 on channel FM 3
; Pattern $04, Row 7; 
; Pattern $04, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
; Pattern $04, Row 9; 
; Pattern $04, Row 10; 
; Pattern $04, Row 11; 
; Pattern $04, Row 12; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
; Pattern $04, Row 13; 
; Pattern $04, Row 14; 
	dc.b $fe, $05	; Delay
	dc.b $02, $cf	; Note G-6 on channel FM 3
; Pattern $04, Row 15; 
; Pattern $04, Row 16; 
	dc.b $fe, $05	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
; Pattern $04, Row 17; 
; Pattern $04, Row 18; 
	dc.b $fe, $05	; Delay
	dc.b $02, $d3	; Note A-6 on channel FM 3
; Pattern $04, Row 19; 
; Pattern $04, Row 20; 
	dc.b $fe, $05	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
; Pattern $04, Row 21; 
; Pattern $04, Row 22; 
; Pattern $04, Row 23; 
; Pattern $04, Row 24; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
	dc.b $02, $d5	; Note A#6 on channel FM 3
; Pattern $04, Row 25; 
; Pattern $04, Row 26; 
; Pattern $04, Row 27; 
; Pattern $04, Row 28; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
; Pattern $04, Row 29; 
; Pattern $04, Row 30; 
; Pattern $04, Row 31; 
; Pattern $04, Row 32; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
; Pattern $04, Row 33; 
; Pattern $04, Row 34; 
; Pattern $04, Row 35; 
; Pattern $04, Row 36; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
; Pattern $04, Row 37; 
; Pattern $04, Row 38; 
; Pattern $04, Row 39; 
; Pattern $04, Row 40; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
	dc.b $02, $cb	; Note F-6 on channel FM 3
; Pattern $04, Row 41; 
; Pattern $04, Row 42; 
; Pattern $04, Row 43; 
; Pattern $04, Row 44; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
	dc.b $02, $c7	; Note D#6 on channel FM 3
; Pattern $04, Row 45; 
; Pattern $04, Row 46; 
; Pattern $04, Row 47; 
; Pattern $05, Row 0; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
	dc.b $44, $18	; Set instrument for channel FM 4
	dc.b $24, $07	; Set volume for channel FM 4
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $05, Row 1; 
; Pattern $05, Row 2; 
	dc.b $fe, $05	; Delay
	dc.b $02, $a1	; Note C-5 on channel FM 3
; Pattern $05, Row 3; 
; Pattern $05, Row 4; 
	dc.b $fe, $05	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $04, $87	; Note D#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $05, Row 5; 
; Pattern $05, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $02, $a7	; Note D#5 on channel FM 3
; Pattern $05, Row 7; 
; Pattern $05, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $05, Row 9; 
; Pattern $05, Row 10; 
; Pattern $05, Row 11; 
; Pattern $05, Row 12; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $05, Row 13; 
; Pattern $05, Row 14; 
	dc.b $fe, $05	; Delay
	dc.b $02, $cf	; Note G-6 on channel FM 3
; Pattern $05, Row 15; 
; Pattern $05, Row 16; 
	dc.b $fe, $05	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
	dc.b $04, $93	; Note A-4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $05, Row 17; 
; Pattern $05, Row 18; 
	dc.b $fe, $05	; Delay
	dc.b $02, $d3	; Note A-6 on channel FM 3
; Pattern $05, Row 19; 
; Pattern $05, Row 20; 
	dc.b $fe, $05	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
	dc.b $04, $8f	; Note G-4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $05, Row 21; 
; Pattern $05, Row 22; 
; Pattern $05, Row 23; 
; Pattern $05, Row 24; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
	dc.b $02, $d5	; Note A#6 on channel FM 3
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $05, Row 25; 
; Pattern $05, Row 26; 
; Pattern $05, Row 27; 
; Pattern $05, Row 28; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $04, $87	; Note D#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $05, Row 29; 
; Pattern $05, Row 30; 
; Pattern $05, Row 31; 
; Pattern $05, Row 32; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $05, Row 33; 
; Pattern $05, Row 34; 
; Pattern $05, Row 35; 
; Pattern $05, Row 36; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $05, Row 37; 
; Pattern $05, Row 38; 
; Pattern $05, Row 39; 
; Pattern $05, Row 40; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
	dc.b $02, $cb	; Note F-6 on channel FM 3
	dc.b $04, $93	; Note A-4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $05, Row 41; 
; Pattern $05, Row 42; 
; Pattern $05, Row 43; 
; Pattern $05, Row 44; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
	dc.b $02, $cf	; Note G-6 on channel FM 3
	dc.b $04, $8f	; Note G-4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $05, Row 45; 
; Pattern $05, Row 46; 
; Pattern $05, Row 47; 
; Pattern $06, Row 0; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $06, Row 1; 
; Pattern $06, Row 2; 
	dc.b $fe, $05	; Delay
	dc.b $02, $a1	; Note C-5 on channel FM 3
; Pattern $06, Row 3; 
; Pattern $06, Row 4; 
	dc.b $fe, $05	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $04, $87	; Note D#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $06, Row 5; 
; Pattern $06, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $02, $a7	; Note D#5 on channel FM 3
; Pattern $06, Row 7; 
; Pattern $06, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $06, Row 9; 
; Pattern $06, Row 10; 
; Pattern $06, Row 11; 
; Pattern $06, Row 12; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $06, Row 13; 
; Pattern $06, Row 14; 
	dc.b $fe, $05	; Delay
	dc.b $02, $cf	; Note G-6 on channel FM 3
; Pattern $06, Row 15; 
; Pattern $06, Row 16; 
	dc.b $fe, $05	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
	dc.b $04, $93	; Note A-4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $06, Row 17; 
; Pattern $06, Row 18; 
	dc.b $fe, $05	; Delay
	dc.b $02, $d3	; Note A-6 on channel FM 3
; Pattern $06, Row 19; 
; Pattern $06, Row 20; 
	dc.b $fe, $05	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
	dc.b $04, $8f	; Note G-4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $06, Row 21; 
; Pattern $06, Row 22; 
; Pattern $06, Row 23; 
; Pattern $06, Row 24; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
	dc.b $02, $e5	; Note D-7 on channel FM 3
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $06, Row 25; 
; Pattern $06, Row 26; 
; Pattern $06, Row 27; 
; Pattern $06, Row 28; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $04, $87	; Note D#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $06, Row 29; 
; Pattern $06, Row 30; 
; Pattern $06, Row 31; 
; Pattern $06, Row 32; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $06, Row 33; 
; Pattern $06, Row 34; 
; Pattern $06, Row 35; 
; Pattern $06, Row 36; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $06, Row 37; 
; Pattern $06, Row 38; 
; Pattern $06, Row 39; 
; Pattern $06, Row 40; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
	dc.b $02, $d5	; Note A#6 on channel FM 3
	dc.b $04, $93	; Note A-4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $06, Row 41; 
; Pattern $06, Row 42; 
; Pattern $06, Row 43; 
; Pattern $06, Row 44; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
	dc.b $02, $e1	; Note C-7 on channel FM 3
	dc.b $04, $8f	; Note G-4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $06, Row 45; 
; Pattern $06, Row 46; 
; Pattern $06, Row 47; 
; Pattern $07, Row 0; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $07, Row 1; 
; Pattern $07, Row 2; 
	dc.b $fe, $05	; Delay
	dc.b $02, $a1	; Note C-5 on channel FM 3
; Pattern $07, Row 3; 
; Pattern $07, Row 4; 
	dc.b $fe, $05	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $04, $87	; Note D#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $07, Row 5; 
; Pattern $07, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $02, $a7	; Note D#5 on channel FM 3
; Pattern $07, Row 7; 
; Pattern $07, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $07, Row 9; 
; Pattern $07, Row 10; 
; Pattern $07, Row 11; 
; Pattern $07, Row 12; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $07, Row 13; 
; Pattern $07, Row 14; 
	dc.b $fe, $05	; Delay
	dc.b $02, $cf	; Note G-6 on channel FM 3
; Pattern $07, Row 15; 
; Pattern $07, Row 16; 
	dc.b $fe, $05	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
	dc.b $04, $93	; Note A-4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $07, Row 17; 
; Pattern $07, Row 18; 
	dc.b $fe, $05	; Delay
	dc.b $02, $d3	; Note A-6 on channel FM 3
; Pattern $07, Row 19; 
; Pattern $07, Row 20; 
	dc.b $fe, $05	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
	dc.b $04, $8f	; Note G-4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $07, Row 21; 
; Pattern $07, Row 22; 
; Pattern $07, Row 23; 
; Pattern $07, Row 24; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
	dc.b $02, $d5	; Note A#6 on channel FM 3
	dc.b $04, $a5	; Note D-5 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $07, Row 25; 
; Pattern $07, Row 26; 
; Pattern $07, Row 27; 
; Pattern $07, Row 28; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $04, $87	; Note D#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $07, Row 29; 
; Pattern $07, Row 30; 
; Pattern $07, Row 31; 
; Pattern $07, Row 32; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $07, Row 33; 
; Pattern $07, Row 34; 
; Pattern $07, Row 35; 
; Pattern $07, Row 36; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $07, Row 37; 
; Pattern $07, Row 38; 
; Pattern $07, Row 39; 
; Pattern $07, Row 40; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
	dc.b $02, $cb	; Note F-6 on channel FM 3
	dc.b $04, $93	; Note A-4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $07, Row 41; 
; Pattern $07, Row 42; 
; Pattern $07, Row 43; 
; Pattern $07, Row 44; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
	dc.b $02, $c7	; Note D#6 on channel FM 3
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $07, Row 45; 
; Pattern $07, Row 46; 
; Pattern $07, Row 47; 
; Pattern $08, Row 0; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
	dc.b $f0, $40	; Set params for channel FM 1
	dc.b $41, $19	; Set instrument for channel FM 2
	dc.b $21, $0d	; Set volume for channel FM 2
	dc.b $01, $6f	; Note G-3 on channel FM 2
	dc.b $f1, $c0	; Set params for channel FM 2
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
	dc.b $45, $1a	; Set instrument for channel FM 5
	dc.b $25, $07	; Set volume for channel FM 5
	dc.b $05, $4b	; Note F-2 on channel FM 5
	dc.b $fe, $01	; Delay
	dc.b $31, $1a, $c5	; Set frequency '6853' (octave 3 semitone 709) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $14, $be	; Set frequency '5310' (octave 2 semitone 1214) for channel FM 2
; Pattern $08, Row 1; 
	dc.b $fe, $01	; Delay
	dc.b $31, $13, $bf	; Set frequency '5055' (octave 2 semitone 959) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $12, $c0	; Set frequency '4800' (octave 2 semitone 704) for channel FM 2
; Pattern $08, Row 2; 
	dc.b $21, $0f	; Set volume for channel FM 2
	dc.b $01, $6f	; Note G-3 on channel FM 2
	dc.b $02, $a1	; Note C-5 on channel FM 3
	dc.b $fe, $01	; Delay
	dc.b $31, $1a, $c5	; Set frequency '6853' (octave 3 semitone 709) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $14, $be	; Set frequency '5310' (octave 2 semitone 1214) for channel FM 2
; Pattern $08, Row 3; 
; Pattern $08, Row 4; 
	dc.b $fe, $02	; Delay
	dc.b $41, $17	; Set instrument for channel FM 2
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $f1, $80	; Set params for channel FM 2
	dc.b $04, $87	; Note D#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $08, Row 5; 
; Pattern $08, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $02, $a7	; Note D#5 on channel FM 3
	dc.b $05, $4b	; Note F-2 on channel FM 5
; Pattern $08, Row 7; 
; Pattern $08, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $08, Row 9; 
; Pattern $08, Row 10; 
; Pattern $08, Row 11; 
; Pattern $08, Row 12; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $4b	; Note F-2 on channel FM 5
; Pattern $08, Row 13; 
; Pattern $08, Row 14; 
	dc.b $fe, $05	; Delay
	dc.b $02, $cf	; Note G-6 on channel FM 3
; Pattern $08, Row 15; 
; Pattern $08, Row 16; 
	dc.b $fe, $05	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
	dc.b $04, $93	; Note A-4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $08, Row 17; 
; Pattern $08, Row 18; 
	dc.b $fe, $05	; Delay
	dc.b $02, $d3	; Note A-6 on channel FM 3
	dc.b $05, $4b	; Note F-2 on channel FM 5
; Pattern $08, Row 19; 
; Pattern $08, Row 20; 
	dc.b $fe, $05	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
	dc.b $04, $8f	; Note G-4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $67	; Note D#3 on channel FM 5
; Pattern $08, Row 21; 
; Pattern $08, Row 22; 
	dc.b $fe, $05	; Delay
	dc.b $05, $6b	; Note F-3 on channel FM 5
; Pattern $08, Row 23; 
; Pattern $08, Row 24; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
	dc.b $41, $1b	; Set instrument for channel FM 2
	dc.b $21, $0d	; Set volume for channel FM 2
	dc.b $01, $c1	; Note C-6 on channel FM 2
	dc.b $f1, $c0	; Set params for channel FM 2
	dc.b $02, $d5	; Note A#6 on channel FM 3
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
	dc.b $05, $4b	; Note F-2 on channel FM 5
	dc.b $fe, $01	; Delay
	dc.b $31, $32, $84	; Set frequency '12932' (octave 6 semitone 644) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2c, $be	; Set frequency '11454' (octave 5 semitone 1214) for channel FM 2
; Pattern $08, Row 25; 
	dc.b $fe, $01	; Delay
	dc.b $31, $2c, $5e	; Set frequency '11358' (octave 5 semitone 1118) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2b, $fe	; Set frequency '11262' (octave 5 semitone 1022) for channel FM 2
; Pattern $08, Row 26; 
	dc.b $fe, $01	; Delay
	dc.b $31, $2b, $9e	; Set frequency '11166' (octave 5 semitone 926) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2b, $3e	; Set frequency '11070' (octave 5 semitone 830) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2a, $de	; Set frequency '10974' (octave 5 semitone 734) for channel FM 2
; Pattern $08, Row 27; 
; Pattern $08, Row 28; 
	dc.b $fe, $02	; Delay
	dc.b $41, $17	; Set instrument for channel FM 2
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $f1, $40	; Set params for channel FM 2
	dc.b $04, $87	; Note D#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $08, Row 29; 
; Pattern $08, Row 30; 
	dc.b $fe, $05	; Delay
	dc.b $05, $4b	; Note F-2 on channel FM 5
; Pattern $08, Row 31; 
; Pattern $08, Row 32; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $08, Row 33; 
; Pattern $08, Row 34; 
; Pattern $08, Row 35; 
; Pattern $08, Row 36; 
	dc.b $fe, $0a	; Delay
	dc.b $40, $19	; Set instrument for channel FM 1
	dc.b $20, $0f	; Set volume for channel FM 1
	dc.b $00, $6f	; Note G-3 on channel FM 1
	dc.b $f0, $c0	; Set params for channel FM 1
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $42, $1f	; Set instrument for channel FM 3
	dc.b $22, $1f	; Set volume for channel FM 3
	dc.b $02, $61	; Note C-3 on channel FM 3
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $61	; Note C-3 on channel FM 5
	dc.b $fe, $01	; Delay
	dc.b $30, $1a, $c5	; Set frequency '6853' (octave 3 semitone 709) for channel FM 1
	dc.b $fe, $01	; Delay
	dc.b $30, $14, $be	; Set frequency '5310' (octave 2 semitone 1214) for channel FM 1
; Pattern $08, Row 37; 
	dc.b $fe, $01	; Delay
	dc.b $30, $13, $bf	; Set frequency '5055' (octave 2 semitone 959) for channel FM 1
	dc.b $fe, $01	; Delay
	dc.b $30, $12, $c0	; Set frequency '4800' (octave 2 semitone 704) for channel FM 1
; Pattern $08, Row 38; 
	dc.b $22, $17	; Set volume for channel FM 3
	dc.b $02, $81	; Note C-4 on channel FM 3
	dc.b $fe, $01	; Delay
	dc.b $30, $0c, $be	; Set frequency '3262' (octave 1 semitone 1214) for channel FM 1
	dc.b $fe, $01	; Delay
	dc.b $30, $0b, $bf	; Set frequency '3007' (octave 1 semitone 959) for channel FM 1
	dc.b $fe, $01	; Delay
	dc.b $30, $0a, $c0	; Set frequency '2752' (octave 1 semitone 704) for channel FM 1
; Pattern $08, Row 39; 
; Pattern $08, Row 40; 
	dc.b $fe, $02	; Delay
	dc.b $40, $17	; Set instrument for channel FM 1
	dc.b $00, $b5	; Note A#5 on channel FM 1
	dc.b $f0, $40	; Set params for channel FM 1
	dc.b $22, $0f	; Set volume for channel FM 3
	dc.b $02, $81	; Note C-4 on channel FM 3
	dc.b $04, $93	; Note A-4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $08, Row 41; 
	dc.b $fe, $03	; Delay
	dc.b $12		; Note off channel FM 3
; Pattern $08, Row 42; 
	dc.b $fe, $02	; Delay
	dc.b $42, $1a	; Set instrument for channel FM 3
	dc.b $22, $07	; Set volume for channel FM 3
	dc.b $02, $75	; Note A#3 on channel FM 3
	dc.b $05, $61	; Note C-3 on channel FM 5
; Pattern $08, Row 43; 
; Pattern $08, Row 44; 
	dc.b $fe, $05	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
	dc.b $02, $81	; Note C-4 on channel FM 3
	dc.b $04, $8f	; Note G-4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $6b	; Note F-3 on channel FM 5
; Pattern $08, Row 45; 
; Pattern $08, Row 46; 
; Pattern $08, Row 47; 
; Pattern $09, Row 0; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
	dc.b $41, $19	; Set instrument for channel FM 2
	dc.b $21, $0d	; Set volume for channel FM 2
	dc.b $01, $6f	; Note G-3 on channel FM 2
	dc.b $f1, $c0	; Set params for channel FM 2
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
	dc.b $05, $4b	; Note F-2 on channel FM 5
	dc.b $fe, $01	; Delay
	dc.b $31, $1a, $c5	; Set frequency '6853' (octave 3 semitone 709) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $14, $be	; Set frequency '5310' (octave 2 semitone 1214) for channel FM 2
; Pattern $09, Row 1; 
	dc.b $fe, $01	; Delay
	dc.b $31, $13, $bf	; Set frequency '5055' (octave 2 semitone 959) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $12, $c0	; Set frequency '4800' (octave 2 semitone 704) for channel FM 2
; Pattern $09, Row 2; 
	dc.b $21, $0f	; Set volume for channel FM 2
	dc.b $01, $6f	; Note G-3 on channel FM 2
	dc.b $42, $17	; Set instrument for channel FM 3
	dc.b $02, $a1	; Note C-5 on channel FM 3
	dc.b $fe, $01	; Delay
	dc.b $31, $1a, $c5	; Set frequency '6853' (octave 3 semitone 709) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $14, $be	; Set frequency '5310' (octave 2 semitone 1214) for channel FM 2
; Pattern $09, Row 3; 
; Pattern $09, Row 4; 
	dc.b $fe, $02	; Delay
	dc.b $41, $17	; Set instrument for channel FM 2
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $f1, $80	; Set params for channel FM 2
	dc.b $04, $87	; Note D#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $09, Row 5; 
; Pattern $09, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $02, $a7	; Note D#5 on channel FM 3
	dc.b $05, $4b	; Note F-2 on channel FM 5
; Pattern $09, Row 7; 
; Pattern $09, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $09, Row 9; 
; Pattern $09, Row 10; 
; Pattern $09, Row 11; 
; Pattern $09, Row 12; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $4b	; Note F-2 on channel FM 5
; Pattern $09, Row 13; 
; Pattern $09, Row 14; 
	dc.b $fe, $05	; Delay
	dc.b $02, $cf	; Note G-6 on channel FM 3
; Pattern $09, Row 15; 
; Pattern $09, Row 16; 
	dc.b $fe, $05	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
	dc.b $04, $93	; Note A-4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $09, Row 17; 
; Pattern $09, Row 18; 
	dc.b $fe, $05	; Delay
	dc.b $02, $d3	; Note A-6 on channel FM 3
	dc.b $05, $4b	; Note F-2 on channel FM 5
; Pattern $09, Row 19; 
; Pattern $09, Row 20; 
	dc.b $fe, $05	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
	dc.b $04, $8f	; Note G-4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $67	; Note D#3 on channel FM 5
; Pattern $09, Row 21; 
; Pattern $09, Row 22; 
	dc.b $fe, $05	; Delay
	dc.b $05, $6b	; Note F-3 on channel FM 5
; Pattern $09, Row 23; 
; Pattern $09, Row 24; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
	dc.b $41, $1b	; Set instrument for channel FM 2
	dc.b $21, $0d	; Set volume for channel FM 2
	dc.b $01, $c1	; Note C-6 on channel FM 2
	dc.b $f1, $c0	; Set params for channel FM 2
	dc.b $02, $d5	; Note A#6 on channel FM 3
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
	dc.b $05, $4b	; Note F-2 on channel FM 5
	dc.b $fe, $01	; Delay
	dc.b $31, $32, $84	; Set frequency '12932' (octave 6 semitone 644) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2c, $be	; Set frequency '11454' (octave 5 semitone 1214) for channel FM 2
; Pattern $09, Row 25; 
	dc.b $fe, $01	; Delay
	dc.b $31, $2c, $5e	; Set frequency '11358' (octave 5 semitone 1118) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2b, $fe	; Set frequency '11262' (octave 5 semitone 1022) for channel FM 2
; Pattern $09, Row 26; 
	dc.b $fe, $01	; Delay
	dc.b $31, $2b, $9e	; Set frequency '11166' (octave 5 semitone 926) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2b, $3e	; Set frequency '11070' (octave 5 semitone 830) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2a, $de	; Set frequency '10974' (octave 5 semitone 734) for channel FM 2
; Pattern $09, Row 27; 
; Pattern $09, Row 28; 
	dc.b $fe, $02	; Delay
	dc.b $41, $17	; Set instrument for channel FM 2
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $f1, $80	; Set params for channel FM 2
	dc.b $04, $87	; Note D#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $09, Row 29; 
; Pattern $09, Row 30; 
	dc.b $fe, $05	; Delay
	dc.b $05, $4b	; Note F-2 on channel FM 5
; Pattern $09, Row 31; 
; Pattern $09, Row 32; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $09, Row 33; 
; Pattern $09, Row 34; 
; Pattern $09, Row 35; 
; Pattern $09, Row 36; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $42, $1f	; Set instrument for channel FM 3
	dc.b $22, $1f	; Set volume for channel FM 3
	dc.b $02, $61	; Note C-3 on channel FM 3
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $61	; Note C-3 on channel FM 5
; Pattern $09, Row 37; 
; Pattern $09, Row 38; 
	dc.b $fe, $05	; Delay
	dc.b $22, $17	; Set volume for channel FM 3
	dc.b $02, $81	; Note C-4 on channel FM 3
; Pattern $09, Row 39; 
; Pattern $09, Row 40; 
	dc.b $fe, $05	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
	dc.b $22, $0f	; Set volume for channel FM 3
	dc.b $02, $81	; Note C-4 on channel FM 3
	dc.b $04, $93	; Note A-4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $09, Row 41; 
	dc.b $fe, $03	; Delay
	dc.b $12		; Note off channel FM 3
; Pattern $09, Row 42; 
	dc.b $fe, $02	; Delay
	dc.b $42, $1a	; Set instrument for channel FM 3
	dc.b $22, $07	; Set volume for channel FM 3
	dc.b $02, $67	; Note D#3 on channel FM 3
	dc.b $05, $61	; Note C-3 on channel FM 5
; Pattern $09, Row 43; 
; Pattern $09, Row 44; 
	dc.b $fe, $05	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
	dc.b $02, $71	; Note G#3 on channel FM 3
	dc.b $04, $8f	; Note G-4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $6b	; Note F-3 on channel FM 5
; Pattern $09, Row 45; 
; Pattern $09, Row 46; 
	dc.b $fe, $05	; Delay
	dc.b $40, $19	; Set instrument for channel FM 1
	dc.b $20, $0f	; Set volume for channel FM 1
	dc.b $00, $6f	; Note G-3 on channel FM 1
	dc.b $f0, $c0	; Set params for channel FM 1
	dc.b $fe, $01	; Delay
	dc.b $30, $1a, $c5	; Set frequency '6853' (octave 3 semitone 709) for channel FM 1
	dc.b $fe, $01	; Delay
	dc.b $30, $14, $be	; Set frequency '5310' (octave 2 semitone 1214) for channel FM 1
; Pattern $09, Row 47; 
; Pattern $0a, Row 0; 
	dc.b $fe, $02	; Delay
	dc.b $40, $17	; Set instrument for channel FM 1
	dc.b $00, $c1	; Note C-6 on channel FM 1
	dc.b $f0, $40	; Set params for channel FM 1
	dc.b $41, $19	; Set instrument for channel FM 2
	dc.b $21, $0d	; Set volume for channel FM 2
	dc.b $01, $6f	; Note G-3 on channel FM 2
	dc.b $f1, $c0	; Set params for channel FM 2
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
	dc.b $05, $51	; Note G#2 on channel FM 5
	dc.b $fe, $01	; Delay
	dc.b $31, $1a, $c5	; Set frequency '6853' (octave 3 semitone 709) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $14, $be	; Set frequency '5310' (octave 2 semitone 1214) for channel FM 2
; Pattern $0a, Row 1; 
	dc.b $fe, $01	; Delay
	dc.b $31, $13, $bf	; Set frequency '5055' (octave 2 semitone 959) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $12, $c0	; Set frequency '4800' (octave 2 semitone 704) for channel FM 2
; Pattern $0a, Row 2; 
	dc.b $42, $17	; Set instrument for channel FM 3
	dc.b $02, $a1	; Note C-5 on channel FM 3
	dc.b $fe, $01	; Delay
	dc.b $31, $0c, $be	; Set frequency '3262' (octave 1 semitone 1214) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $0b, $bf	; Set frequency '3007' (octave 1 semitone 959) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $0a, $c0	; Set frequency '2752' (octave 1 semitone 704) for channel FM 2
; Pattern $0a, Row 3; 
; Pattern $0a, Row 4; 
	dc.b $fe, $02	; Delay
	dc.b $41, $17	; Set instrument for channel FM 2
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $f1, $80	; Set params for channel FM 2
	dc.b $04, $87	; Note D#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $0a, Row 5; 
; Pattern $0a, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $02, $a7	; Note D#5 on channel FM 3
	dc.b $05, $51	; Note G#2 on channel FM 5
; Pattern $0a, Row 7; 
; Pattern $0a, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $0a, Row 9; 
; Pattern $0a, Row 10; 
; Pattern $0a, Row 11; 
; Pattern $0a, Row 12; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $51	; Note G#2 on channel FM 5
; Pattern $0a, Row 13; 
; Pattern $0a, Row 14; 
	dc.b $fe, $05	; Delay
	dc.b $02, $cf	; Note G-6 on channel FM 3
; Pattern $0a, Row 15; 
; Pattern $0a, Row 16; 
	dc.b $fe, $05	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
	dc.b $04, $93	; Note A-4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $0a, Row 17; 
; Pattern $0a, Row 18; 
	dc.b $fe, $05	; Delay
	dc.b $02, $d3	; Note A-6 on channel FM 3
	dc.b $05, $67	; Note D#3 on channel FM 5
; Pattern $0a, Row 19; 
; Pattern $0a, Row 20; 
	dc.b $fe, $05	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
	dc.b $04, $8f	; Note G-4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $6f	; Note G-3 on channel FM 5
; Pattern $0a, Row 21; 
; Pattern $0a, Row 22; 
	dc.b $fe, $05	; Delay
	dc.b $05, $71	; Note G#3 on channel FM 5
; Pattern $0a, Row 23; 
; Pattern $0a, Row 24; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
	dc.b $41, $1b	; Set instrument for channel FM 2
	dc.b $21, $0d	; Set volume for channel FM 2
	dc.b $01, $c1	; Note C-6 on channel FM 2
	dc.b $f1, $c0	; Set params for channel FM 2
	dc.b $02, $d5	; Note A#6 on channel FM 3
	dc.b $04, $a5	; Note D-5 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
	dc.b $05, $55	; Note A#2 on channel FM 5
	dc.b $fe, $01	; Delay
	dc.b $31, $32, $84	; Set frequency '12932' (octave 6 semitone 644) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2c, $be	; Set frequency '11454' (octave 5 semitone 1214) for channel FM 2
; Pattern $0a, Row 25; 
	dc.b $fe, $01	; Delay
	dc.b $31, $2c, $5e	; Set frequency '11358' (octave 5 semitone 1118) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2b, $fe	; Set frequency '11262' (octave 5 semitone 1022) for channel FM 2
; Pattern $0a, Row 26; 
	dc.b $fe, $01	; Delay
	dc.b $31, $2b, $9e	; Set frequency '11166' (octave 5 semitone 926) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2b, $3e	; Set frequency '11070' (octave 5 semitone 830) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2a, $de	; Set frequency '10974' (octave 5 semitone 734) for channel FM 2
; Pattern $0a, Row 27; 
; Pattern $0a, Row 28; 
	dc.b $fe, $02	; Delay
	dc.b $41, $17	; Set instrument for channel FM 2
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $f1, $80	; Set params for channel FM 2
	dc.b $04, $87	; Note D#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $0a, Row 29; 
; Pattern $0a, Row 30; 
	dc.b $fe, $05	; Delay
	dc.b $05, $55	; Note A#2 on channel FM 5
; Pattern $0a, Row 31; 
; Pattern $0a, Row 32; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $0a, Row 33; 
; Pattern $0a, Row 34; 
; Pattern $0a, Row 35; 
; Pattern $0a, Row 36; 
	dc.b $fe, $0a	; Delay
	dc.b $40, $19	; Set instrument for channel FM 1
	dc.b $20, $0f	; Set volume for channel FM 1
	dc.b $00, $6f	; Note G-3 on channel FM 1
	dc.b $f0, $c0	; Set params for channel FM 1
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $42, $1f	; Set instrument for channel FM 3
	dc.b $22, $1f	; Set volume for channel FM 3
	dc.b $02, $61	; Note C-3 on channel FM 3
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $55	; Note A#2 on channel FM 5
	dc.b $fe, $01	; Delay
	dc.b $30, $1a, $c5	; Set frequency '6853' (octave 3 semitone 709) for channel FM 1
	dc.b $fe, $01	; Delay
	dc.b $30, $14, $be	; Set frequency '5310' (octave 2 semitone 1214) for channel FM 1
; Pattern $0a, Row 37; 
	dc.b $fe, $01	; Delay
	dc.b $30, $13, $bf	; Set frequency '5055' (octave 2 semitone 959) for channel FM 1
	dc.b $fe, $01	; Delay
	dc.b $30, $12, $c0	; Set frequency '4800' (octave 2 semitone 704) for channel FM 1
; Pattern $0a, Row 38; 
	dc.b $22, $17	; Set volume for channel FM 3
	dc.b $02, $81	; Note C-4 on channel FM 3
	dc.b $fe, $01	; Delay
	dc.b $30, $0c, $be	; Set frequency '3262' (octave 1 semitone 1214) for channel FM 1
	dc.b $fe, $01	; Delay
	dc.b $30, $0b, $bf	; Set frequency '3007' (octave 1 semitone 959) for channel FM 1
	dc.b $fe, $01	; Delay
	dc.b $30, $0a, $c0	; Set frequency '2752' (octave 1 semitone 704) for channel FM 1
; Pattern $0a, Row 39; 
; Pattern $0a, Row 40; 
	dc.b $fe, $02	; Delay
	dc.b $40, $17	; Set instrument for channel FM 1
	dc.b $00, $b5	; Note A#5 on channel FM 1
	dc.b $f0, $40	; Set params for channel FM 1
	dc.b $22, $0f	; Set volume for channel FM 3
	dc.b $02, $81	; Note C-4 on channel FM 3
	dc.b $04, $93	; Note A-4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $0a, Row 41; 
	dc.b $fe, $03	; Delay
	dc.b $12		; Note off channel FM 3
; Pattern $0a, Row 42; 
	dc.b $fe, $02	; Delay
	dc.b $42, $1a	; Set instrument for channel FM 3
	dc.b $22, $07	; Set volume for channel FM 3
	dc.b $02, $75	; Note A#3 on channel FM 3
	dc.b $05, $4b	; Note F-2 on channel FM 5
; Pattern $0a, Row 43; 
; Pattern $0a, Row 44; 
	dc.b $fe, $05	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
	dc.b $02, $81	; Note C-4 on channel FM 3
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $6b	; Note F-3 on channel FM 5
; Pattern $0a, Row 45; 
; Pattern $0a, Row 46; 
; Pattern $0a, Row 47; 
; Pattern $0b, Row 0; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
	dc.b $41, $19	; Set instrument for channel FM 2
	dc.b $21, $0d	; Set volume for channel FM 2
	dc.b $01, $6f	; Note G-3 on channel FM 2
	dc.b $f1, $c0	; Set params for channel FM 2
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
	dc.b $05, $4b	; Note F-2 on channel FM 5
	dc.b $fe, $01	; Delay
	dc.b $31, $1a, $c5	; Set frequency '6853' (octave 3 semitone 709) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $14, $be	; Set frequency '5310' (octave 2 semitone 1214) for channel FM 2
; Pattern $0b, Row 1; 
	dc.b $fe, $01	; Delay
	dc.b $31, $13, $bf	; Set frequency '5055' (octave 2 semitone 959) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $12, $c0	; Set frequency '4800' (octave 2 semitone 704) for channel FM 2
; Pattern $0b, Row 2; 
	dc.b $21, $0f	; Set volume for channel FM 2
	dc.b $01, $6f	; Note G-3 on channel FM 2
	dc.b $42, $17	; Set instrument for channel FM 3
	dc.b $02, $a1	; Note C-5 on channel FM 3
	dc.b $fe, $01	; Delay
	dc.b $31, $1a, $c5	; Set frequency '6853' (octave 3 semitone 709) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $14, $be	; Set frequency '5310' (octave 2 semitone 1214) for channel FM 2
; Pattern $0b, Row 3; 
; Pattern $0b, Row 4; 
	dc.b $fe, $02	; Delay
	dc.b $41, $17	; Set instrument for channel FM 2
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $f1, $80	; Set params for channel FM 2
	dc.b $04, $87	; Note D#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $0b, Row 5; 
; Pattern $0b, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $02, $a7	; Note D#5 on channel FM 3
	dc.b $05, $4b	; Note F-2 on channel FM 5
; Pattern $0b, Row 7; 
; Pattern $0b, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $0b, Row 9; 
; Pattern $0b, Row 10; 
; Pattern $0b, Row 11; 
; Pattern $0b, Row 12; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $4b	; Note F-2 on channel FM 5
; Pattern $0b, Row 13; 
; Pattern $0b, Row 14; 
	dc.b $fe, $05	; Delay
	dc.b $02, $cf	; Note G-6 on channel FM 3
; Pattern $0b, Row 15; 
; Pattern $0b, Row 16; 
	dc.b $fe, $05	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
	dc.b $04, $93	; Note A-4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $0b, Row 17; 
; Pattern $0b, Row 18; 
	dc.b $fe, $05	; Delay
	dc.b $02, $d3	; Note A-6 on channel FM 3
	dc.b $05, $4b	; Note F-2 on channel FM 5
; Pattern $0b, Row 19; 
; Pattern $0b, Row 20; 
	dc.b $fe, $05	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
	dc.b $04, $8f	; Note G-4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $67	; Note D#3 on channel FM 5
; Pattern $0b, Row 21; 
; Pattern $0b, Row 22; 
	dc.b $fe, $05	; Delay
	dc.b $05, $6b	; Note F-3 on channel FM 5
; Pattern $0b, Row 23; 
; Pattern $0b, Row 24; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
	dc.b $41, $1b	; Set instrument for channel FM 2
	dc.b $21, $0d	; Set volume for channel FM 2
	dc.b $01, $c1	; Note C-6 on channel FM 2
	dc.b $f1, $c0	; Set params for channel FM 2
	dc.b $02, $d5	; Note A#6 on channel FM 3
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
	dc.b $05, $4b	; Note F-2 on channel FM 5
	dc.b $fe, $01	; Delay
	dc.b $31, $32, $84	; Set frequency '12932' (octave 6 semitone 644) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2c, $be	; Set frequency '11454' (octave 5 semitone 1214) for channel FM 2
; Pattern $0b, Row 25; 
	dc.b $fe, $01	; Delay
	dc.b $31, $2c, $5e	; Set frequency '11358' (octave 5 semitone 1118) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2b, $fe	; Set frequency '11262' (octave 5 semitone 1022) for channel FM 2
; Pattern $0b, Row 26; 
	dc.b $fe, $01	; Delay
	dc.b $31, $2b, $9e	; Set frequency '11166' (octave 5 semitone 926) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2b, $3e	; Set frequency '11070' (octave 5 semitone 830) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2a, $de	; Set frequency '10974' (octave 5 semitone 734) for channel FM 2
; Pattern $0b, Row 27; 
; Pattern $0b, Row 28; 
	dc.b $fe, $02	; Delay
	dc.b $41, $17	; Set instrument for channel FM 2
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $f1, $80	; Set params for channel FM 2
	dc.b $04, $87	; Note D#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $0b, Row 29; 
; Pattern $0b, Row 30; 
	dc.b $fe, $05	; Delay
	dc.b $05, $4b	; Note F-2 on channel FM 5
; Pattern $0b, Row 31; 
; Pattern $0b, Row 32; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $0b, Row 33; 
; Pattern $0b, Row 34; 
; Pattern $0b, Row 35; 
; Pattern $0b, Row 36; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $42, $1f	; Set instrument for channel FM 3
	dc.b $22, $1f	; Set volume for channel FM 3
	dc.b $02, $61	; Note C-3 on channel FM 3
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $61	; Note C-3 on channel FM 5
; Pattern $0b, Row 37; 
; Pattern $0b, Row 38; 
	dc.b $fe, $05	; Delay
	dc.b $22, $17	; Set volume for channel FM 3
	dc.b $02, $81	; Note C-4 on channel FM 3
; Pattern $0b, Row 39; 
; Pattern $0b, Row 40; 
	dc.b $fe, $05	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
	dc.b $22, $0f	; Set volume for channel FM 3
	dc.b $02, $81	; Note C-4 on channel FM 3
	dc.b $04, $93	; Note A-4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $0b, Row 41; 
	dc.b $fe, $03	; Delay
	dc.b $12		; Note off channel FM 3
; Pattern $0b, Row 42; 
	dc.b $fe, $02	; Delay
	dc.b $42, $1a	; Set instrument for channel FM 3
	dc.b $22, $07	; Set volume for channel FM 3
	dc.b $02, $75	; Note A#3 on channel FM 3
	dc.b $05, $61	; Note C-3 on channel FM 5
; Pattern $0b, Row 43; 
; Pattern $0b, Row 44; 
	dc.b $fe, $05	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
	dc.b $02, $81	; Note C-4 on channel FM 3
	dc.b $04, $8f	; Note G-4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $6b	; Note F-3 on channel FM 5
; Pattern $0b, Row 45; 
; Pattern $0b, Row 46; 
	dc.b $fe, $05	; Delay
	dc.b $40, $19	; Set instrument for channel FM 1
	dc.b $20, $0f	; Set volume for channel FM 1
	dc.b $00, $6f	; Note G-3 on channel FM 1
	dc.b $f0, $c0	; Set params for channel FM 1
	dc.b $fe, $01	; Delay
	dc.b $30, $1a, $c5	; Set frequency '6853' (octave 3 semitone 709) for channel FM 1
	dc.b $fe, $01	; Delay
	dc.b $30, $14, $be	; Set frequency '5310' (octave 2 semitone 1214) for channel FM 1
; Pattern $0b, Row 47; 
; Pattern $0c, Row 0; 
	dc.b $fe, $02	; Delay
	dc.b $40, $17	; Set instrument for channel FM 1
	dc.b $00, $c1	; Note C-6 on channel FM 1
	dc.b $f0, $40	; Set params for channel FM 1
	dc.b $41, $19	; Set instrument for channel FM 2
	dc.b $21, $0d	; Set volume for channel FM 2
	dc.b $01, $6f	; Note G-3 on channel FM 2
	dc.b $f1, $c0	; Set params for channel FM 2
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
	dc.b $05, $4b	; Note F-2 on channel FM 5
	dc.b $fe, $01	; Delay
	dc.b $31, $1a, $c5	; Set frequency '6853' (octave 3 semitone 709) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $14, $be	; Set frequency '5310' (octave 2 semitone 1214) for channel FM 2
; Pattern $0c, Row 1; 
	dc.b $fe, $01	; Delay
	dc.b $31, $13, $bf	; Set frequency '5055' (octave 2 semitone 959) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $12, $c0	; Set frequency '4800' (octave 2 semitone 704) for channel FM 2
; Pattern $0c, Row 2; 
	dc.b $42, $17	; Set instrument for channel FM 3
	dc.b $02, $a1	; Note C-5 on channel FM 3
	dc.b $fe, $01	; Delay
	dc.b $31, $0c, $be	; Set frequency '3262' (octave 1 semitone 1214) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $0b, $bf	; Set frequency '3007' (octave 1 semitone 959) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $0a, $c0	; Set frequency '2752' (octave 1 semitone 704) for channel FM 2
; Pattern $0c, Row 3; 
; Pattern $0c, Row 4; 
	dc.b $fe, $02	; Delay
	dc.b $41, $17	; Set instrument for channel FM 2
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $f1, $80	; Set params for channel FM 2
	dc.b $04, $87	; Note D#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $0c, Row 5; 
; Pattern $0c, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $02, $a7	; Note D#5 on channel FM 3
	dc.b $05, $4b	; Note F-2 on channel FM 5
; Pattern $0c, Row 7; 
; Pattern $0c, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $0c, Row 9; 
; Pattern $0c, Row 10; 
; Pattern $0c, Row 11; 
; Pattern $0c, Row 12; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $4b	; Note F-2 on channel FM 5
; Pattern $0c, Row 13; 
; Pattern $0c, Row 14; 
	dc.b $fe, $05	; Delay
	dc.b $02, $cf	; Note G-6 on channel FM 3
; Pattern $0c, Row 15; 
; Pattern $0c, Row 16; 
	dc.b $fe, $05	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
	dc.b $04, $93	; Note A-4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $0c, Row 17; 
; Pattern $0c, Row 18; 
	dc.b $fe, $05	; Delay
	dc.b $02, $d3	; Note A-6 on channel FM 3
	dc.b $05, $4b	; Note F-2 on channel FM 5
; Pattern $0c, Row 19; 
; Pattern $0c, Row 20; 
	dc.b $fe, $05	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
	dc.b $04, $8f	; Note G-4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $67	; Note D#3 on channel FM 5
; Pattern $0c, Row 21; 
; Pattern $0c, Row 22; 
	dc.b $fe, $05	; Delay
	dc.b $05, $6b	; Note F-3 on channel FM 5
; Pattern $0c, Row 23; 
; Pattern $0c, Row 24; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
	dc.b $41, $1b	; Set instrument for channel FM 2
	dc.b $21, $0d	; Set volume for channel FM 2
	dc.b $01, $c1	; Note C-6 on channel FM 2
	dc.b $f1, $c0	; Set params for channel FM 2
	dc.b $02, $d5	; Note A#6 on channel FM 3
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
	dc.b $05, $4b	; Note F-2 on channel FM 5
	dc.b $fe, $01	; Delay
	dc.b $31, $32, $84	; Set frequency '12932' (octave 6 semitone 644) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2c, $be	; Set frequency '11454' (octave 5 semitone 1214) for channel FM 2
; Pattern $0c, Row 25; 
	dc.b $fe, $01	; Delay
	dc.b $31, $2c, $5e	; Set frequency '11358' (octave 5 semitone 1118) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2b, $fe	; Set frequency '11262' (octave 5 semitone 1022) for channel FM 2
; Pattern $0c, Row 26; 
	dc.b $fe, $01	; Delay
	dc.b $31, $2b, $9e	; Set frequency '11166' (octave 5 semitone 926) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2b, $3e	; Set frequency '11070' (octave 5 semitone 830) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2a, $de	; Set frequency '10974' (octave 5 semitone 734) for channel FM 2
; Pattern $0c, Row 27; 
; Pattern $0c, Row 28; 
	dc.b $fe, $02	; Delay
	dc.b $41, $17	; Set instrument for channel FM 2
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $f1, $80	; Set params for channel FM 2
	dc.b $04, $87	; Note D#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $0c, Row 29; 
; Pattern $0c, Row 30; 
	dc.b $fe, $05	; Delay
	dc.b $05, $4b	; Note F-2 on channel FM 5
; Pattern $0c, Row 31; 
; Pattern $0c, Row 32; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $0c, Row 33; 
; Pattern $0c, Row 34; 
; Pattern $0c, Row 35; 
; Pattern $0c, Row 36; 
	dc.b $fe, $0a	; Delay
	dc.b $40, $19	; Set instrument for channel FM 1
	dc.b $20, $0f	; Set volume for channel FM 1
	dc.b $00, $6f	; Note G-3 on channel FM 1
	dc.b $f0, $c0	; Set params for channel FM 1
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $42, $1f	; Set instrument for channel FM 3
	dc.b $22, $1f	; Set volume for channel FM 3
	dc.b $02, $61	; Note C-3 on channel FM 3
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $61	; Note C-3 on channel FM 5
	dc.b $fe, $01	; Delay
	dc.b $30, $1a, $c5	; Set frequency '6853' (octave 3 semitone 709) for channel FM 1
	dc.b $fe, $01	; Delay
	dc.b $30, $14, $be	; Set frequency '5310' (octave 2 semitone 1214) for channel FM 1
; Pattern $0c, Row 37; 
	dc.b $fe, $01	; Delay
	dc.b $30, $13, $bf	; Set frequency '5055' (octave 2 semitone 959) for channel FM 1
	dc.b $fe, $01	; Delay
	dc.b $30, $12, $c0	; Set frequency '4800' (octave 2 semitone 704) for channel FM 1
; Pattern $0c, Row 38; 
	dc.b $22, $17	; Set volume for channel FM 3
	dc.b $02, $81	; Note C-4 on channel FM 3
	dc.b $fe, $01	; Delay
	dc.b $30, $0c, $be	; Set frequency '3262' (octave 1 semitone 1214) for channel FM 1
	dc.b $fe, $01	; Delay
	dc.b $30, $0b, $bf	; Set frequency '3007' (octave 1 semitone 959) for channel FM 1
	dc.b $fe, $01	; Delay
	dc.b $30, $0a, $c0	; Set frequency '2752' (octave 1 semitone 704) for channel FM 1
; Pattern $0c, Row 39; 
; Pattern $0c, Row 40; 
	dc.b $fe, $02	; Delay
	dc.b $40, $17	; Set instrument for channel FM 1
	dc.b $00, $b5	; Note A#5 on channel FM 1
	dc.b $f0, $40	; Set params for channel FM 1
	dc.b $22, $0f	; Set volume for channel FM 3
	dc.b $02, $81	; Note C-4 on channel FM 3
	dc.b $04, $93	; Note A-4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $0c, Row 41; 
	dc.b $fe, $03	; Delay
	dc.b $12		; Note off channel FM 3
; Pattern $0c, Row 42; 
	dc.b $fe, $02	; Delay
	dc.b $42, $1a	; Set instrument for channel FM 3
	dc.b $22, $07	; Set volume for channel FM 3
	dc.b $02, $75	; Note A#3 on channel FM 3
	dc.b $05, $61	; Note C-3 on channel FM 5
; Pattern $0c, Row 43; 
; Pattern $0c, Row 44; 
	dc.b $fe, $05	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
	dc.b $02, $81	; Note C-4 on channel FM 3
	dc.b $04, $8f	; Note G-4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $6b	; Note F-3 on channel FM 5
; Pattern $0c, Row 45; 
; Pattern $0c, Row 46; 
; Pattern $0c, Row 47; 
; Pattern $0d, Row 0; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
	dc.b $41, $19	; Set instrument for channel FM 2
	dc.b $21, $0d	; Set volume for channel FM 2
	dc.b $01, $6f	; Note G-3 on channel FM 2
	dc.b $f1, $c0	; Set params for channel FM 2
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
	dc.b $05, $51	; Note G#2 on channel FM 5
	dc.b $fe, $01	; Delay
	dc.b $31, $1a, $c5	; Set frequency '6853' (octave 3 semitone 709) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $14, $be	; Set frequency '5310' (octave 2 semitone 1214) for channel FM 2
; Pattern $0d, Row 1; 
	dc.b $fe, $01	; Delay
	dc.b $31, $13, $bf	; Set frequency '5055' (octave 2 semitone 959) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $12, $c0	; Set frequency '4800' (octave 2 semitone 704) for channel FM 2
; Pattern $0d, Row 2; 
	dc.b $21, $0f	; Set volume for channel FM 2
	dc.b $01, $6f	; Note G-3 on channel FM 2
	dc.b $42, $17	; Set instrument for channel FM 3
	dc.b $02, $a1	; Note C-5 on channel FM 3
	dc.b $fe, $01	; Delay
	dc.b $31, $1a, $c5	; Set frequency '6853' (octave 3 semitone 709) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $14, $be	; Set frequency '5310' (octave 2 semitone 1214) for channel FM 2
; Pattern $0d, Row 3; 
; Pattern $0d, Row 4; 
	dc.b $fe, $02	; Delay
	dc.b $41, $17	; Set instrument for channel FM 2
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $f1, $80	; Set params for channel FM 2
	dc.b $04, $87	; Note D#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $0d, Row 5; 
; Pattern $0d, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $02, $a7	; Note D#5 on channel FM 3
	dc.b $05, $51	; Note G#2 on channel FM 5
; Pattern $0d, Row 7; 
; Pattern $0d, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $0d, Row 9; 
; Pattern $0d, Row 10; 
; Pattern $0d, Row 11; 
; Pattern $0d, Row 12; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $51	; Note G#2 on channel FM 5
; Pattern $0d, Row 13; 
; Pattern $0d, Row 14; 
	dc.b $fe, $05	; Delay
	dc.b $02, $cf	; Note G-6 on channel FM 3
; Pattern $0d, Row 15; 
; Pattern $0d, Row 16; 
	dc.b $fe, $05	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
	dc.b $04, $93	; Note A-4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $0d, Row 17; 
; Pattern $0d, Row 18; 
	dc.b $fe, $05	; Delay
	dc.b $02, $d3	; Note A-6 on channel FM 3
	dc.b $05, $67	; Note D#3 on channel FM 5
; Pattern $0d, Row 19; 
; Pattern $0d, Row 20; 
	dc.b $fe, $05	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
	dc.b $04, $8f	; Note G-4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $6f	; Note G-3 on channel FM 5
; Pattern $0d, Row 21; 
; Pattern $0d, Row 22; 
	dc.b $fe, $05	; Delay
	dc.b $05, $71	; Note G#3 on channel FM 5
; Pattern $0d, Row 23; 
; Pattern $0d, Row 24; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
	dc.b $41, $1b	; Set instrument for channel FM 2
	dc.b $21, $0d	; Set volume for channel FM 2
	dc.b $01, $c1	; Note C-6 on channel FM 2
	dc.b $f1, $c0	; Set params for channel FM 2
	dc.b $02, $d5	; Note A#6 on channel FM 3
	dc.b $04, $a5	; Note D-5 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
	dc.b $05, $47	; Note D#2 on channel FM 5
	dc.b $fe, $01	; Delay
	dc.b $31, $32, $84	; Set frequency '12932' (octave 6 semitone 644) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2c, $be	; Set frequency '11454' (octave 5 semitone 1214) for channel FM 2
; Pattern $0d, Row 25; 
	dc.b $fe, $01	; Delay
	dc.b $31, $2c, $5e	; Set frequency '11358' (octave 5 semitone 1118) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2b, $fe	; Set frequency '11262' (octave 5 semitone 1022) for channel FM 2
; Pattern $0d, Row 26; 
	dc.b $fe, $01	; Delay
	dc.b $31, $2b, $9e	; Set frequency '11166' (octave 5 semitone 926) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2b, $3e	; Set frequency '11070' (octave 5 semitone 830) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2a, $de	; Set frequency '10974' (octave 5 semitone 734) for channel FM 2
; Pattern $0d, Row 27; 
; Pattern $0d, Row 28; 
	dc.b $fe, $02	; Delay
	dc.b $41, $17	; Set instrument for channel FM 2
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $f1, $80	; Set params for channel FM 2
	dc.b $04, $87	; Note D#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $0d, Row 29; 
; Pattern $0d, Row 30; 
	dc.b $fe, $05	; Delay
	dc.b $05, $47	; Note D#2 on channel FM 5
; Pattern $0d, Row 31; 
; Pattern $0d, Row 32; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $0d, Row 33; 
; Pattern $0d, Row 34; 
; Pattern $0d, Row 35; 
; Pattern $0d, Row 36; 
	dc.b $fe, $0a	; Delay
	dc.b $40, $19	; Set instrument for channel FM 1
	dc.b $20, $0f	; Set volume for channel FM 1
	dc.b $00, $6f	; Note G-3 on channel FM 1
	dc.b $f0, $c0	; Set params for channel FM 1
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $42, $1f	; Set instrument for channel FM 3
	dc.b $22, $1f	; Set volume for channel FM 3
	dc.b $02, $61	; Note C-3 on channel FM 3
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $47	; Note D#2 on channel FM 5
	dc.b $fe, $01	; Delay
	dc.b $30, $1a, $c5	; Set frequency '6853' (octave 3 semitone 709) for channel FM 1
	dc.b $fe, $01	; Delay
	dc.b $30, $14, $be	; Set frequency '5310' (octave 2 semitone 1214) for channel FM 1
; Pattern $0d, Row 37; 
	dc.b $fe, $01	; Delay
	dc.b $30, $13, $bf	; Set frequency '5055' (octave 2 semitone 959) for channel FM 1
	dc.b $fe, $01	; Delay
	dc.b $30, $12, $c0	; Set frequency '4800' (octave 2 semitone 704) for channel FM 1
; Pattern $0d, Row 38; 
	dc.b $22, $17	; Set volume for channel FM 3
	dc.b $02, $81	; Note C-4 on channel FM 3
	dc.b $fe, $01	; Delay
	dc.b $30, $0c, $be	; Set frequency '3262' (octave 1 semitone 1214) for channel FM 1
	dc.b $fe, $01	; Delay
	dc.b $30, $0b, $bf	; Set frequency '3007' (octave 1 semitone 959) for channel FM 1
	dc.b $fe, $01	; Delay
	dc.b $30, $0a, $c0	; Set frequency '2752' (octave 1 semitone 704) for channel FM 1
; Pattern $0d, Row 39; 
; Pattern $0d, Row 40; 
	dc.b $fe, $02	; Delay
	dc.b $40, $17	; Set instrument for channel FM 1
	dc.b $00, $b5	; Note A#5 on channel FM 1
	dc.b $f0, $40	; Set params for channel FM 1
	dc.b $22, $0f	; Set volume for channel FM 3
	dc.b $02, $81	; Note C-4 on channel FM 3
	dc.b $04, $93	; Note A-4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $0d, Row 41; 
	dc.b $fe, $03	; Delay
	dc.b $12		; Note off channel FM 3
; Pattern $0d, Row 42; 
	dc.b $fe, $02	; Delay
	dc.b $42, $1a	; Set instrument for channel FM 3
	dc.b $22, $07	; Set volume for channel FM 3
	dc.b $02, $6f	; Note G-3 on channel FM 3
	dc.b $05, $47	; Note D#2 on channel FM 5
; Pattern $0d, Row 43; 
; Pattern $0d, Row 44; 
	dc.b $fe, $05	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
	dc.b $02, $75	; Note A#3 on channel FM 3
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $61	; Note C-3 on channel FM 5
; Pattern $0d, Row 45; 
; Pattern $0d, Row 46; 
	dc.b $fe, $05	; Delay
	dc.b $40, $19	; Set instrument for channel FM 1
	dc.b $20, $0f	; Set volume for channel FM 1
	dc.b $00, $6f	; Note G-3 on channel FM 1
	dc.b $f0, $c0	; Set params for channel FM 1
	dc.b $fe, $01	; Delay
	dc.b $30, $1a, $c5	; Set frequency '6853' (octave 3 semitone 709) for channel FM 1
	dc.b $fe, $01	; Delay
	dc.b $30, $14, $be	; Set frequency '5310' (octave 2 semitone 1214) for channel FM 1
; Pattern $0d, Row 47; 
; Pattern $0e, Row 0; 
	dc.b $fe, $02	; Delay
	dc.b $40, $17	; Set instrument for channel FM 1
	dc.b $00, $c1	; Note C-6 on channel FM 1
	dc.b $f0, $40	; Set params for channel FM 1
	dc.b $41, $19	; Set instrument for channel FM 2
	dc.b $21, $0d	; Set volume for channel FM 2
	dc.b $01, $6f	; Note G-3 on channel FM 2
	dc.b $f1, $c0	; Set params for channel FM 2
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
	dc.b $05, $4b	; Note F-2 on channel FM 5
	dc.b $fe, $01	; Delay
	dc.b $31, $1a, $c5	; Set frequency '6853' (octave 3 semitone 709) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $14, $be	; Set frequency '5310' (octave 2 semitone 1214) for channel FM 2
; Pattern $0e, Row 1; 
	dc.b $fe, $01	; Delay
	dc.b $31, $13, $bf	; Set frequency '5055' (octave 2 semitone 959) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $12, $c0	; Set frequency '4800' (octave 2 semitone 704) for channel FM 2
; Pattern $0e, Row 2; 
	dc.b $21, $1f	; Set volume for channel FM 2
	dc.b $01, $6f	; Note G-3 on channel FM 2
	dc.b $42, $17	; Set instrument for channel FM 3
	dc.b $02, $a1	; Note C-5 on channel FM 3
	dc.b $fe, $01	; Delay
	dc.b $31, $1a, $c5	; Set frequency '6853' (octave 3 semitone 709) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $14, $be	; Set frequency '5310' (octave 2 semitone 1214) for channel FM 2
; Pattern $0e, Row 3; 
; Pattern $0e, Row 4; 
	dc.b $fe, $02	; Delay
	dc.b $41, $17	; Set instrument for channel FM 2
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $f1, $80	; Set params for channel FM 2
	dc.b $04, $87	; Note D#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $0e, Row 5; 
; Pattern $0e, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $02, $a7	; Note D#5 on channel FM 3
	dc.b $05, $4b	; Note F-2 on channel FM 5
; Pattern $0e, Row 7; 
; Pattern $0e, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $0e, Row 9; 
; Pattern $0e, Row 10; 
; Pattern $0e, Row 11; 
; Pattern $0e, Row 12; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $4b	; Note F-2 on channel FM 5
; Pattern $0e, Row 13; 
; Pattern $0e, Row 14; 
	dc.b $fe, $05	; Delay
	dc.b $02, $cf	; Note G-6 on channel FM 3
; Pattern $0e, Row 15; 
; Pattern $0e, Row 16; 
	dc.b $fe, $05	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
	dc.b $04, $93	; Note A-4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $0e, Row 17; 
; Pattern $0e, Row 18; 
	dc.b $fe, $05	; Delay
	dc.b $02, $d3	; Note A-6 on channel FM 3
	dc.b $05, $4b	; Note F-2 on channel FM 5
; Pattern $0e, Row 19; 
; Pattern $0e, Row 20; 
	dc.b $fe, $05	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
	dc.b $04, $8f	; Note G-4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $67	; Note D#3 on channel FM 5
; Pattern $0e, Row 21; 
; Pattern $0e, Row 22; 
	dc.b $fe, $05	; Delay
	dc.b $05, $6b	; Note F-3 on channel FM 5
; Pattern $0e, Row 23; 
; Pattern $0e, Row 24; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
	dc.b $41, $1b	; Set instrument for channel FM 2
	dc.b $21, $0d	; Set volume for channel FM 2
	dc.b $01, $c1	; Note C-6 on channel FM 2
	dc.b $f1, $c0	; Set params for channel FM 2
	dc.b $02, $d5	; Note A#6 on channel FM 3
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
	dc.b $05, $4b	; Note F-2 on channel FM 5
	dc.b $fe, $01	; Delay
	dc.b $31, $32, $84	; Set frequency '12932' (octave 6 semitone 644) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2c, $be	; Set frequency '11454' (octave 5 semitone 1214) for channel FM 2
; Pattern $0e, Row 25; 
	dc.b $fe, $01	; Delay
	dc.b $31, $2c, $5e	; Set frequency '11358' (octave 5 semitone 1118) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2b, $fe	; Set frequency '11262' (octave 5 semitone 1022) for channel FM 2
; Pattern $0e, Row 26; 
	dc.b $fe, $01	; Delay
	dc.b $31, $2b, $9e	; Set frequency '11166' (octave 5 semitone 926) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2b, $3e	; Set frequency '11070' (octave 5 semitone 830) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2a, $de	; Set frequency '10974' (octave 5 semitone 734) for channel FM 2
; Pattern $0e, Row 27; 
; Pattern $0e, Row 28; 
	dc.b $fe, $02	; Delay
	dc.b $41, $17	; Set instrument for channel FM 2
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $f1, $80	; Set params for channel FM 2
	dc.b $04, $87	; Note D#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $0e, Row 29; 
; Pattern $0e, Row 30; 
	dc.b $fe, $05	; Delay
	dc.b $05, $4b	; Note F-2 on channel FM 5
; Pattern $0e, Row 31; 
; Pattern $0e, Row 32; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $0e, Row 33; 
; Pattern $0e, Row 34; 
; Pattern $0e, Row 35; 
; Pattern $0e, Row 36; 
	dc.b $fe, $0a	; Delay
	dc.b $40, $19	; Set instrument for channel FM 1
	dc.b $20, $0f	; Set volume for channel FM 1
	dc.b $00, $81	; Note C-4 on channel FM 1
	dc.b $f0, $c0	; Set params for channel FM 1
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $42, $1f	; Set instrument for channel FM 3
	dc.b $22, $1f	; Set volume for channel FM 3
	dc.b $02, $61	; Note C-3 on channel FM 3
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $61	; Note C-3 on channel FM 5
	dc.b $fe, $01	; Delay
	dc.b $30, $22, $84	; Set frequency '8836' (octave 4 semitone 644) for channel FM 1
	dc.b $fe, $01	; Delay
	dc.b $30, $1c, $be	; Set frequency '7358' (octave 3 semitone 1214) for channel FM 1
; Pattern $0e, Row 37; 
	dc.b $fe, $01	; Delay
	dc.b $30, $1b, $bf	; Set frequency '7103' (octave 3 semitone 959) for channel FM 1
	dc.b $fe, $01	; Delay
	dc.b $30, $1a, $c0	; Set frequency '6848' (octave 3 semitone 704) for channel FM 1
; Pattern $0e, Row 38; 
	dc.b $22, $17	; Set volume for channel FM 3
	dc.b $02, $81	; Note C-4 on channel FM 3
	dc.b $fe, $01	; Delay
	dc.b $30, $14, $be	; Set frequency '5310' (octave 2 semitone 1214) for channel FM 1
	dc.b $fe, $01	; Delay
	dc.b $30, $13, $bf	; Set frequency '5055' (octave 2 semitone 959) for channel FM 1
	dc.b $fe, $01	; Delay
	dc.b $30, $12, $c0	; Set frequency '4800' (octave 2 semitone 704) for channel FM 1
; Pattern $0e, Row 39; 
; Pattern $0e, Row 40; 
	dc.b $fe, $02	; Delay
	dc.b $40, $17	; Set instrument for channel FM 1
	dc.b $00, $b5	; Note A#5 on channel FM 1
	dc.b $f0, $40	; Set params for channel FM 1
	dc.b $22, $0f	; Set volume for channel FM 3
	dc.b $02, $81	; Note C-4 on channel FM 3
	dc.b $04, $93	; Note A-4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $0e, Row 41; 
	dc.b $fe, $03	; Delay
	dc.b $12		; Note off channel FM 3
; Pattern $0e, Row 42; 
	dc.b $fe, $02	; Delay
	dc.b $05, $61	; Note C-3 on channel FM 5
; Pattern $0e, Row 43; 
; Pattern $0e, Row 44; 
	dc.b $fe, $05	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
	dc.b $04, $8f	; Note G-4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $6b	; Note F-3 on channel FM 5
; Pattern $0e, Row 45; 
; Pattern $0e, Row 46; 
; Pattern $0e, Row 47; 
; Pattern $0f, Row 0; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
	dc.b $41, $19	; Set instrument for channel FM 2
	dc.b $21, $0d	; Set volume for channel FM 2
	dc.b $01, $6f	; Note G-3 on channel FM 2
	dc.b $f1, $c0	; Set params for channel FM 2
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
	dc.b $05, $4b	; Note F-2 on channel FM 5
	dc.b $fe, $01	; Delay
	dc.b $31, $1a, $c5	; Set frequency '6853' (octave 3 semitone 709) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $14, $be	; Set frequency '5310' (octave 2 semitone 1214) for channel FM 2
; Pattern $0f, Row 1; 
	dc.b $fe, $01	; Delay
	dc.b $31, $13, $bf	; Set frequency '5055' (octave 2 semitone 959) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $12, $c0	; Set frequency '4800' (octave 2 semitone 704) for channel FM 2
; Pattern $0f, Row 2; 
	dc.b $21, $0f	; Set volume for channel FM 2
	dc.b $01, $6f	; Note G-3 on channel FM 2
	dc.b $42, $17	; Set instrument for channel FM 3
	dc.b $02, $a1	; Note C-5 on channel FM 3
	dc.b $fe, $01	; Delay
	dc.b $31, $1a, $c5	; Set frequency '6853' (octave 3 semitone 709) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $14, $be	; Set frequency '5310' (octave 2 semitone 1214) for channel FM 2
; Pattern $0f, Row 3; 
; Pattern $0f, Row 4; 
	dc.b $fe, $02	; Delay
	dc.b $41, $17	; Set instrument for channel FM 2
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $f1, $80	; Set params for channel FM 2
	dc.b $04, $87	; Note D#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $0f, Row 5; 
; Pattern $0f, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $02, $a7	; Note D#5 on channel FM 3
	dc.b $05, $4b	; Note F-2 on channel FM 5
; Pattern $0f, Row 7; 
; Pattern $0f, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $0f, Row 9; 
; Pattern $0f, Row 10; 
; Pattern $0f, Row 11; 
; Pattern $0f, Row 12; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $4b	; Note F-2 on channel FM 5
; Pattern $0f, Row 13; 
; Pattern $0f, Row 14; 
	dc.b $fe, $05	; Delay
	dc.b $02, $cf	; Note G-6 on channel FM 3
; Pattern $0f, Row 15; 
; Pattern $0f, Row 16; 
	dc.b $fe, $05	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
	dc.b $04, $93	; Note A-4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $0f, Row 17; 
; Pattern $0f, Row 18; 
	dc.b $fe, $05	; Delay
	dc.b $02, $d3	; Note A-6 on channel FM 3
	dc.b $05, $4b	; Note F-2 on channel FM 5
; Pattern $0f, Row 19; 
; Pattern $0f, Row 20; 
	dc.b $fe, $05	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
	dc.b $04, $8f	; Note G-4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $67	; Note D#3 on channel FM 5
; Pattern $0f, Row 21; 
; Pattern $0f, Row 22; 
	dc.b $fe, $05	; Delay
	dc.b $05, $6b	; Note F-3 on channel FM 5
; Pattern $0f, Row 23; 
; Pattern $0f, Row 24; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
	dc.b $41, $1b	; Set instrument for channel FM 2
	dc.b $21, $0d	; Set volume for channel FM 2
	dc.b $01, $c1	; Note C-6 on channel FM 2
	dc.b $f1, $c0	; Set params for channel FM 2
	dc.b $02, $d5	; Note A#6 on channel FM 3
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
	dc.b $05, $4b	; Note F-2 on channel FM 5
	dc.b $fe, $01	; Delay
	dc.b $31, $32, $84	; Set frequency '12932' (octave 6 semitone 644) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2c, $be	; Set frequency '11454' (octave 5 semitone 1214) for channel FM 2
; Pattern $0f, Row 25; 
	dc.b $fe, $01	; Delay
	dc.b $31, $2c, $5e	; Set frequency '11358' (octave 5 semitone 1118) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2b, $fe	; Set frequency '11262' (octave 5 semitone 1022) for channel FM 2
; Pattern $0f, Row 26; 
	dc.b $fe, $01	; Delay
	dc.b $31, $2b, $9e	; Set frequency '11166' (octave 5 semitone 926) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2b, $3e	; Set frequency '11070' (octave 5 semitone 830) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2a, $de	; Set frequency '10974' (octave 5 semitone 734) for channel FM 2
; Pattern $0f, Row 27; 
; Pattern $0f, Row 28; 
	dc.b $fe, $02	; Delay
	dc.b $41, $17	; Set instrument for channel FM 2
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $f1, $80	; Set params for channel FM 2
	dc.b $04, $87	; Note D#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $0f, Row 29; 
; Pattern $0f, Row 30; 
	dc.b $fe, $05	; Delay
	dc.b $05, $4b	; Note F-2 on channel FM 5
; Pattern $0f, Row 31; 
; Pattern $0f, Row 32; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $0f, Row 33; 
; Pattern $0f, Row 34; 
; Pattern $0f, Row 35; 
; Pattern $0f, Row 36; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $42, $1f	; Set instrument for channel FM 3
	dc.b $22, $1f	; Set volume for channel FM 3
	dc.b $02, $61	; Note C-3 on channel FM 3
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $61	; Note C-3 on channel FM 5
; Pattern $0f, Row 37; 
; Pattern $0f, Row 38; 
	dc.b $fe, $05	; Delay
	dc.b $22, $17	; Set volume for channel FM 3
	dc.b $02, $81	; Note C-4 on channel FM 3
; Pattern $0f, Row 39; 
; Pattern $0f, Row 40; 
	dc.b $fe, $05	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
	dc.b $22, $0f	; Set volume for channel FM 3
	dc.b $02, $81	; Note C-4 on channel FM 3
	dc.b $04, $93	; Note A-4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $0f, Row 41; 
	dc.b $fe, $03	; Delay
	dc.b $12		; Note off channel FM 3
; Pattern $0f, Row 42; 
	dc.b $fe, $02	; Delay
	dc.b $42, $1a	; Set instrument for channel FM 3
	dc.b $22, $07	; Set volume for channel FM 3
	dc.b $02, $67	; Note D#3 on channel FM 3
	dc.b $05, $61	; Note C-3 on channel FM 5
; Pattern $0f, Row 43; 
; Pattern $0f, Row 44; 
	dc.b $fe, $05	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
	dc.b $02, $71	; Note G#3 on channel FM 3
	dc.b $04, $8f	; Note G-4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $6b	; Note F-3 on channel FM 5
; Pattern $0f, Row 45; 
; Pattern $0f, Row 46; 
	dc.b $fe, $05	; Delay
	dc.b $40, $19	; Set instrument for channel FM 1
	dc.b $20, $0f	; Set volume for channel FM 1
	dc.b $00, $6f	; Note G-3 on channel FM 1
	dc.b $f0, $c0	; Set params for channel FM 1
	dc.b $fe, $01	; Delay
	dc.b $30, $1a, $c5	; Set frequency '6853' (octave 3 semitone 709) for channel FM 1
	dc.b $fe, $01	; Delay
	dc.b $30, $14, $be	; Set frequency '5310' (octave 2 semitone 1214) for channel FM 1
; Pattern $0f, Row 47; 
; Pattern $10, Row 0; 
	dc.b $fe, $02	; Delay
	dc.b $40, $17	; Set instrument for channel FM 1
	dc.b $00, $c1	; Note C-6 on channel FM 1
	dc.b $f0, $40	; Set params for channel FM 1
	dc.b $41, $19	; Set instrument for channel FM 2
	dc.b $21, $0d	; Set volume for channel FM 2
	dc.b $01, $6f	; Note G-3 on channel FM 2
	dc.b $f1, $c0	; Set params for channel FM 2
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
	dc.b $05, $51	; Note G#2 on channel FM 5
	dc.b $fe, $01	; Delay
	dc.b $31, $1a, $c5	; Set frequency '6853' (octave 3 semitone 709) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $14, $be	; Set frequency '5310' (octave 2 semitone 1214) for channel FM 2
; Pattern $10, Row 1; 
	dc.b $fe, $01	; Delay
	dc.b $31, $13, $bf	; Set frequency '5055' (octave 2 semitone 959) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $12, $c0	; Set frequency '4800' (octave 2 semitone 704) for channel FM 2
; Pattern $10, Row 2; 
	dc.b $42, $17	; Set instrument for channel FM 3
	dc.b $02, $a1	; Note C-5 on channel FM 3
	dc.b $fe, $01	; Delay
	dc.b $31, $0c, $be	; Set frequency '3262' (octave 1 semitone 1214) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $0b, $bf	; Set frequency '3007' (octave 1 semitone 959) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $0a, $c0	; Set frequency '2752' (octave 1 semitone 704) for channel FM 2
; Pattern $10, Row 3; 
; Pattern $10, Row 4; 
	dc.b $fe, $02	; Delay
	dc.b $41, $17	; Set instrument for channel FM 2
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $f1, $80	; Set params for channel FM 2
	dc.b $04, $87	; Note D#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $10, Row 5; 
; Pattern $10, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $02, $a7	; Note D#5 on channel FM 3
	dc.b $05, $51	; Note G#2 on channel FM 5
; Pattern $10, Row 7; 
; Pattern $10, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $10, Row 9; 
; Pattern $10, Row 10; 
; Pattern $10, Row 11; 
; Pattern $10, Row 12; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $51	; Note G#2 on channel FM 5
; Pattern $10, Row 13; 
; Pattern $10, Row 14; 
	dc.b $fe, $05	; Delay
	dc.b $02, $cf	; Note G-6 on channel FM 3
; Pattern $10, Row 15; 
; Pattern $10, Row 16; 
	dc.b $fe, $05	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
	dc.b $04, $93	; Note A-4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $10, Row 17; 
; Pattern $10, Row 18; 
	dc.b $fe, $05	; Delay
	dc.b $02, $d3	; Note A-6 on channel FM 3
	dc.b $05, $67	; Note D#3 on channel FM 5
; Pattern $10, Row 19; 
; Pattern $10, Row 20; 
	dc.b $fe, $05	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
	dc.b $04, $8f	; Note G-4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $6f	; Note G-3 on channel FM 5
; Pattern $10, Row 21; 
; Pattern $10, Row 22; 
	dc.b $fe, $05	; Delay
	dc.b $05, $71	; Note G#3 on channel FM 5
; Pattern $10, Row 23; 
; Pattern $10, Row 24; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
	dc.b $41, $1b	; Set instrument for channel FM 2
	dc.b $21, $0d	; Set volume for channel FM 2
	dc.b $01, $c1	; Note C-6 on channel FM 2
	dc.b $f1, $c0	; Set params for channel FM 2
	dc.b $02, $d5	; Note A#6 on channel FM 3
	dc.b $04, $a5	; Note D-5 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
	dc.b $05, $55	; Note A#2 on channel FM 5
	dc.b $fe, $01	; Delay
	dc.b $31, $32, $84	; Set frequency '12932' (octave 6 semitone 644) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2c, $be	; Set frequency '11454' (octave 5 semitone 1214) for channel FM 2
; Pattern $10, Row 25; 
	dc.b $fe, $01	; Delay
	dc.b $31, $2c, $5e	; Set frequency '11358' (octave 5 semitone 1118) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2b, $fe	; Set frequency '11262' (octave 5 semitone 1022) for channel FM 2
; Pattern $10, Row 26; 
	dc.b $fe, $01	; Delay
	dc.b $31, $2b, $9e	; Set frequency '11166' (octave 5 semitone 926) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2b, $3e	; Set frequency '11070' (octave 5 semitone 830) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2a, $de	; Set frequency '10974' (octave 5 semitone 734) for channel FM 2
; Pattern $10, Row 27; 
; Pattern $10, Row 28; 
	dc.b $fe, $02	; Delay
	dc.b $41, $17	; Set instrument for channel FM 2
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $f1, $80	; Set params for channel FM 2
	dc.b $04, $87	; Note D#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $10, Row 29; 
; Pattern $10, Row 30; 
	dc.b $fe, $05	; Delay
	dc.b $05, $55	; Note A#2 on channel FM 5
; Pattern $10, Row 31; 
; Pattern $10, Row 32; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $10, Row 33; 
; Pattern $10, Row 34; 
; Pattern $10, Row 35; 
; Pattern $10, Row 36; 
	dc.b $fe, $0a	; Delay
	dc.b $40, $19	; Set instrument for channel FM 1
	dc.b $20, $0f	; Set volume for channel FM 1
	dc.b $00, $6f	; Note G-3 on channel FM 1
	dc.b $f0, $c0	; Set params for channel FM 1
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $42, $1f	; Set instrument for channel FM 3
	dc.b $22, $1f	; Set volume for channel FM 3
	dc.b $02, $61	; Note C-3 on channel FM 3
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $55	; Note A#2 on channel FM 5
	dc.b $fe, $01	; Delay
	dc.b $30, $1a, $c5	; Set frequency '6853' (octave 3 semitone 709) for channel FM 1
	dc.b $fe, $01	; Delay
	dc.b $30, $14, $be	; Set frequency '5310' (octave 2 semitone 1214) for channel FM 1
; Pattern $10, Row 37; 
	dc.b $fe, $01	; Delay
	dc.b $30, $13, $bf	; Set frequency '5055' (octave 2 semitone 959) for channel FM 1
	dc.b $fe, $01	; Delay
	dc.b $30, $12, $c0	; Set frequency '4800' (octave 2 semitone 704) for channel FM 1
; Pattern $10, Row 38; 
	dc.b $22, $17	; Set volume for channel FM 3
	dc.b $02, $81	; Note C-4 on channel FM 3
	dc.b $fe, $01	; Delay
	dc.b $30, $0c, $be	; Set frequency '3262' (octave 1 semitone 1214) for channel FM 1
	dc.b $fe, $01	; Delay
	dc.b $30, $0b, $bf	; Set frequency '3007' (octave 1 semitone 959) for channel FM 1
	dc.b $fe, $01	; Delay
	dc.b $30, $0a, $c0	; Set frequency '2752' (octave 1 semitone 704) for channel FM 1
; Pattern $10, Row 39; 
; Pattern $10, Row 40; 
	dc.b $fe, $02	; Delay
	dc.b $40, $17	; Set instrument for channel FM 1
	dc.b $00, $b5	; Note A#5 on channel FM 1
	dc.b $f0, $40	; Set params for channel FM 1
	dc.b $22, $0f	; Set volume for channel FM 3
	dc.b $02, $81	; Note C-4 on channel FM 3
	dc.b $04, $93	; Note A-4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $10, Row 41; 
	dc.b $fe, $03	; Delay
	dc.b $12		; Note off channel FM 3
; Pattern $10, Row 42; 
	dc.b $fe, $02	; Delay
	dc.b $42, $1a	; Set instrument for channel FM 3
	dc.b $22, $07	; Set volume for channel FM 3
	dc.b $02, $75	; Note A#3 on channel FM 3
	dc.b $05, $4b	; Note F-2 on channel FM 5
; Pattern $10, Row 43; 
; Pattern $10, Row 44; 
	dc.b $fe, $05	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
	dc.b $02, $81	; Note C-4 on channel FM 3
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $6b	; Note F-3 on channel FM 5
; Pattern $10, Row 45; 
; Pattern $10, Row 46; 
; Pattern $10, Row 47; 
; Pattern $11, Row 0; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
	dc.b $41, $19	; Set instrument for channel FM 2
	dc.b $21, $0d	; Set volume for channel FM 2
	dc.b $01, $6f	; Note G-3 on channel FM 2
	dc.b $f1, $c0	; Set params for channel FM 2
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
	dc.b $05, $4b	; Note F-2 on channel FM 5
	dc.b $fe, $01	; Delay
	dc.b $31, $1a, $c5	; Set frequency '6853' (octave 3 semitone 709) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $14, $be	; Set frequency '5310' (octave 2 semitone 1214) for channel FM 2
; Pattern $11, Row 1; 
	dc.b $fe, $01	; Delay
	dc.b $31, $13, $bf	; Set frequency '5055' (octave 2 semitone 959) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $12, $c0	; Set frequency '4800' (octave 2 semitone 704) for channel FM 2
; Pattern $11, Row 2; 
	dc.b $21, $0f	; Set volume for channel FM 2
	dc.b $01, $6f	; Note G-3 on channel FM 2
	dc.b $42, $17	; Set instrument for channel FM 3
	dc.b $02, $a1	; Note C-5 on channel FM 3
	dc.b $fe, $01	; Delay
	dc.b $31, $1a, $c5	; Set frequency '6853' (octave 3 semitone 709) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $14, $be	; Set frequency '5310' (octave 2 semitone 1214) for channel FM 2
; Pattern $11, Row 3; 
; Pattern $11, Row 4; 
	dc.b $fe, $02	; Delay
	dc.b $41, $17	; Set instrument for channel FM 2
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $f1, $80	; Set params for channel FM 2
	dc.b $04, $87	; Note D#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $11, Row 5; 
; Pattern $11, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $02, $a7	; Note D#5 on channel FM 3
	dc.b $05, $4b	; Note F-2 on channel FM 5
; Pattern $11, Row 7; 
; Pattern $11, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $11, Row 9; 
; Pattern $11, Row 10; 
; Pattern $11, Row 11; 
; Pattern $11, Row 12; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $4b	; Note F-2 on channel FM 5
; Pattern $11, Row 13; 
; Pattern $11, Row 14; 
	dc.b $fe, $05	; Delay
	dc.b $02, $cf	; Note G-6 on channel FM 3
; Pattern $11, Row 15; 
; Pattern $11, Row 16; 
	dc.b $fe, $05	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
	dc.b $04, $93	; Note A-4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $11, Row 17; 
; Pattern $11, Row 18; 
	dc.b $fe, $05	; Delay
	dc.b $02, $d3	; Note A-6 on channel FM 3
	dc.b $05, $4b	; Note F-2 on channel FM 5
; Pattern $11, Row 19; 
; Pattern $11, Row 20; 
	dc.b $fe, $05	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
	dc.b $04, $8f	; Note G-4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $67	; Note D#3 on channel FM 5
; Pattern $11, Row 21; 
; Pattern $11, Row 22; 
	dc.b $fe, $05	; Delay
	dc.b $05, $6b	; Note F-3 on channel FM 5
; Pattern $11, Row 23; 
; Pattern $11, Row 24; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
	dc.b $41, $1b	; Set instrument for channel FM 2
	dc.b $21, $0d	; Set volume for channel FM 2
	dc.b $01, $c1	; Note C-6 on channel FM 2
	dc.b $f1, $c0	; Set params for channel FM 2
	dc.b $02, $d5	; Note A#6 on channel FM 3
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
	dc.b $05, $4b	; Note F-2 on channel FM 5
	dc.b $fe, $01	; Delay
	dc.b $31, $32, $84	; Set frequency '12932' (octave 6 semitone 644) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2c, $be	; Set frequency '11454' (octave 5 semitone 1214) for channel FM 2
; Pattern $11, Row 25; 
	dc.b $fe, $01	; Delay
	dc.b $31, $2c, $5e	; Set frequency '11358' (octave 5 semitone 1118) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2b, $fe	; Set frequency '11262' (octave 5 semitone 1022) for channel FM 2
; Pattern $11, Row 26; 
	dc.b $fe, $01	; Delay
	dc.b $31, $2b, $9e	; Set frequency '11166' (octave 5 semitone 926) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2b, $3e	; Set frequency '11070' (octave 5 semitone 830) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2a, $de	; Set frequency '10974' (octave 5 semitone 734) for channel FM 2
; Pattern $11, Row 27; 
; Pattern $11, Row 28; 
	dc.b $fe, $02	; Delay
	dc.b $41, $17	; Set instrument for channel FM 2
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $f1, $80	; Set params for channel FM 2
	dc.b $04, $87	; Note D#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $11, Row 29; 
; Pattern $11, Row 30; 
	dc.b $fe, $05	; Delay
	dc.b $05, $4b	; Note F-2 on channel FM 5
; Pattern $11, Row 31; 
; Pattern $11, Row 32; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $11, Row 33; 
; Pattern $11, Row 34; 
; Pattern $11, Row 35; 
; Pattern $11, Row 36; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $42, $1f	; Set instrument for channel FM 3
	dc.b $22, $1f	; Set volume for channel FM 3
	dc.b $02, $61	; Note C-3 on channel FM 3
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $61	; Note C-3 on channel FM 5
; Pattern $11, Row 37; 
; Pattern $11, Row 38; 
	dc.b $fe, $05	; Delay
	dc.b $22, $17	; Set volume for channel FM 3
	dc.b $02, $81	; Note C-4 on channel FM 3
; Pattern $11, Row 39; 
; Pattern $11, Row 40; 
	dc.b $fe, $05	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
	dc.b $22, $0f	; Set volume for channel FM 3
	dc.b $02, $81	; Note C-4 on channel FM 3
	dc.b $04, $93	; Note A-4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $11, Row 41; 
	dc.b $fe, $03	; Delay
	dc.b $12		; Note off channel FM 3
; Pattern $11, Row 42; 
	dc.b $fe, $02	; Delay
	dc.b $42, $1a	; Set instrument for channel FM 3
	dc.b $22, $07	; Set volume for channel FM 3
	dc.b $02, $75	; Note A#3 on channel FM 3
	dc.b $05, $61	; Note C-3 on channel FM 5
; Pattern $11, Row 43; 
; Pattern $11, Row 44; 
	dc.b $fe, $05	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
	dc.b $02, $81	; Note C-4 on channel FM 3
	dc.b $04, $8f	; Note G-4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $6b	; Note F-3 on channel FM 5
; Pattern $11, Row 45; 
; Pattern $11, Row 46; 
	dc.b $fe, $05	; Delay
	dc.b $40, $19	; Set instrument for channel FM 1
	dc.b $20, $0f	; Set volume for channel FM 1
	dc.b $00, $6f	; Note G-3 on channel FM 1
	dc.b $f0, $c0	; Set params for channel FM 1
	dc.b $fe, $01	; Delay
	dc.b $30, $1a, $c5	; Set frequency '6853' (octave 3 semitone 709) for channel FM 1
	dc.b $fe, $01	; Delay
	dc.b $30, $14, $be	; Set frequency '5310' (octave 2 semitone 1214) for channel FM 1
; Pattern $11, Row 47; 
; Pattern $12, Row 0; 
	dc.b $fe, $02	; Delay
	dc.b $40, $17	; Set instrument for channel FM 1
	dc.b $00, $c1	; Note C-6 on channel FM 1
	dc.b $f0, $40	; Set params for channel FM 1
	dc.b $41, $19	; Set instrument for channel FM 2
	dc.b $21, $0d	; Set volume for channel FM 2
	dc.b $01, $6f	; Note G-3 on channel FM 2
	dc.b $f1, $c0	; Set params for channel FM 2
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
	dc.b $05, $4b	; Note F-2 on channel FM 5
	dc.b $fe, $01	; Delay
	dc.b $31, $1a, $c5	; Set frequency '6853' (octave 3 semitone 709) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $14, $be	; Set frequency '5310' (octave 2 semitone 1214) for channel FM 2
; Pattern $12, Row 1; 
	dc.b $fe, $01	; Delay
	dc.b $31, $13, $bf	; Set frequency '5055' (octave 2 semitone 959) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $12, $c0	; Set frequency '4800' (octave 2 semitone 704) for channel FM 2
; Pattern $12, Row 2; 
	dc.b $42, $17	; Set instrument for channel FM 3
	dc.b $02, $a1	; Note C-5 on channel FM 3
	dc.b $fe, $01	; Delay
	dc.b $31, $0c, $be	; Set frequency '3262' (octave 1 semitone 1214) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $0b, $bf	; Set frequency '3007' (octave 1 semitone 959) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $0a, $c0	; Set frequency '2752' (octave 1 semitone 704) for channel FM 2
; Pattern $12, Row 3; 
; Pattern $12, Row 4; 
	dc.b $fe, $02	; Delay
	dc.b $41, $17	; Set instrument for channel FM 2
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $f1, $80	; Set params for channel FM 2
	dc.b $04, $87	; Note D#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $12, Row 5; 
; Pattern $12, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $02, $a7	; Note D#5 on channel FM 3
	dc.b $05, $4b	; Note F-2 on channel FM 5
; Pattern $12, Row 7; 
; Pattern $12, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $12, Row 9; 
; Pattern $12, Row 10; 
; Pattern $12, Row 11; 
; Pattern $12, Row 12; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $4b	; Note F-2 on channel FM 5
; Pattern $12, Row 13; 
; Pattern $12, Row 14; 
	dc.b $fe, $05	; Delay
	dc.b $02, $cf	; Note G-6 on channel FM 3
; Pattern $12, Row 15; 
; Pattern $12, Row 16; 
	dc.b $fe, $05	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
	dc.b $04, $93	; Note A-4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $12, Row 17; 
; Pattern $12, Row 18; 
	dc.b $fe, $05	; Delay
	dc.b $02, $d3	; Note A-6 on channel FM 3
	dc.b $05, $4b	; Note F-2 on channel FM 5
; Pattern $12, Row 19; 
; Pattern $12, Row 20; 
	dc.b $fe, $05	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
	dc.b $04, $8f	; Note G-4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $67	; Note D#3 on channel FM 5
; Pattern $12, Row 21; 
; Pattern $12, Row 22; 
	dc.b $fe, $05	; Delay
	dc.b $05, $6b	; Note F-3 on channel FM 5
; Pattern $12, Row 23; 
; Pattern $12, Row 24; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
	dc.b $41, $1b	; Set instrument for channel FM 2
	dc.b $21, $0d	; Set volume for channel FM 2
	dc.b $01, $c1	; Note C-6 on channel FM 2
	dc.b $f1, $c0	; Set params for channel FM 2
	dc.b $02, $d5	; Note A#6 on channel FM 3
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
	dc.b $05, $4b	; Note F-2 on channel FM 5
	dc.b $fe, $01	; Delay
	dc.b $31, $32, $84	; Set frequency '12932' (octave 6 semitone 644) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2c, $be	; Set frequency '11454' (octave 5 semitone 1214) for channel FM 2
; Pattern $12, Row 25; 
	dc.b $fe, $01	; Delay
	dc.b $31, $2c, $5e	; Set frequency '11358' (octave 5 semitone 1118) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2b, $fe	; Set frequency '11262' (octave 5 semitone 1022) for channel FM 2
; Pattern $12, Row 26; 
	dc.b $fe, $01	; Delay
	dc.b $31, $2b, $9e	; Set frequency '11166' (octave 5 semitone 926) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2b, $3e	; Set frequency '11070' (octave 5 semitone 830) for channel FM 2
	dc.b $fe, $01	; Delay
	dc.b $31, $2a, $de	; Set frequency '10974' (octave 5 semitone 734) for channel FM 2
; Pattern $12, Row 27; 
; Pattern $12, Row 28; 
	dc.b $fe, $02	; Delay
	dc.b $41, $17	; Set instrument for channel FM 2
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $f1, $80	; Set params for channel FM 2
	dc.b $04, $87	; Note D#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $12, Row 29; 
; Pattern $12, Row 30; 
	dc.b $fe, $05	; Delay
	dc.b $05, $4b	; Note F-2 on channel FM 5
; Pattern $12, Row 31; 
; Pattern $12, Row 32; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $12, Row 33; 
; Pattern $12, Row 34; 
; Pattern $12, Row 35; 
; Pattern $12, Row 36; 
	dc.b $fe, $0a	; Delay
	dc.b $40, $19	; Set instrument for channel FM 1
	dc.b $20, $0f	; Set volume for channel FM 1
	dc.b $00, $6f	; Note G-3 on channel FM 1
	dc.b $f0, $c0	; Set params for channel FM 1
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $42, $1f	; Set instrument for channel FM 3
	dc.b $22, $1f	; Set volume for channel FM 3
	dc.b $02, $61	; Note C-3 on channel FM 3
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $61	; Note C-3 on channel FM 5
	dc.b $fe, $01	; Delay
	dc.b $30, $1a, $c5	; Set frequency '6853' (octave 3 semitone 709) for channel FM 1
	dc.b $fe, $01	; Delay
	dc.b $30, $14, $be	; Set frequency '5310' (octave 2 semitone 1214) for channel FM 1
; Pattern $12, Row 37; 
	dc.b $fe, $01	; Delay
	dc.b $30, $13, $bf	; Set frequency '5055' (octave 2 semitone 959) for channel FM 1
	dc.b $fe, $01	; Delay
	dc.b $30, $12, $c0	; Set frequency '4800' (octave 2 semitone 704) for channel FM 1
; Pattern $12, Row 38; 
	dc.b $22, $17	; Set volume for channel FM 3
	dc.b $02, $81	; Note C-4 on channel FM 3
	dc.b $fe, $01	; Delay
	dc.b $30, $0c, $be	; Set frequency '3262' (octave 1 semitone 1214) for channel FM 1
	dc.b $fe, $01	; Delay
	dc.b $30, $0b, $bf	; Set frequency '3007' (octave 1 semitone 959) for channel FM 1
	dc.b $fe, $01	; Delay
	dc.b $30, $0a, $c0	; Set frequency '2752' (octave 1 semitone 704) for channel FM 1
; Pattern $12, Row 39; 
; Pattern $12, Row 40; 
	dc.b $fe, $02	; Delay
	dc.b $40, $17	; Set instrument for channel FM 1
	dc.b $00, $b5	; Note A#5 on channel FM 1
	dc.b $f0, $40	; Set params for channel FM 1
	dc.b $22, $0f	; Set volume for channel FM 3
	dc.b $02, $81	; Note C-4 on channel FM 3
	dc.b $04, $93	; Note A-4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $12, Row 41; 
	dc.b $fe, $03	; Delay
	dc.b $12		; Note off channel FM 3
; Pattern $12, Row 42; 
	dc.b $fe, $02	; Delay
	dc.b $42, $1a	; Set instrument for channel FM 3
	dc.b $22, $07	; Set volume for channel FM 3
	dc.b $02, $75	; Note A#3 on channel FM 3
	dc.b $05, $61	; Note C-3 on channel FM 5
; Pattern $12, Row 43; 
; Pattern $12, Row 44; 
	dc.b $fe, $05	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
	dc.b $02, $81	; Note C-4 on channel FM 3
	dc.b $04, $8f	; Note G-4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $6b	; Note F-3 on channel FM 5
; Pattern $12, Row 45; 
; Pattern $12, Row 46; 
; Pattern $12, Row 47; 
; Pattern $13, Row 0; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
	dc.b $15		; Note off channel FM 5
; Pattern $13, Row 1; 
; Pattern $13, Row 2; 
	dc.b $fe, $05	; Delay
	dc.b $42, $17	; Set instrument for channel FM 3
	dc.b $02, $a1	; Note C-5 on channel FM 3
; Pattern $13, Row 3; 
; Pattern $13, Row 4; 
	dc.b $fe, $05	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $f1, $80	; Set params for channel FM 2
	dc.b $04, $87	; Note D#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $13, Row 5; 
; Pattern $13, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $02, $a7	; Note D#5 on channel FM 3
; Pattern $13, Row 7; 
; Pattern $13, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $13, Row 9; 
; Pattern $13, Row 10; 
; Pattern $13, Row 11; 
; Pattern $13, Row 12; 
	dc.b $fe, $0a	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $04, $95	; Note A#4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $13, Row 13; 
; Pattern $13, Row 14; 
	dc.b $fe, $05	; Delay
	dc.b $02, $cf	; Note G-6 on channel FM 3
; Pattern $13, Row 15; 
; Pattern $13, Row 16; 
	dc.b $fe, $05	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
	dc.b $04, $93	; Note A-4 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
; Pattern $13, Row 17; 
; Pattern $13, Row 18; 
	dc.b $fe, $05	; Delay
	dc.b $02, $d3	; Note A-6 on channel FM 3
; Pattern $13, Row 19; 
; Pattern $13, Row 20; 
	dc.b $fe, $05	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
	dc.b $04, $8f	; Note G-4 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
; Pattern $13, Row 21; 
; Pattern $13, Row 22; 
; Pattern $13, Row 23; 
; Pattern $13, Row 24; 
	dc.b $fe, $0a	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
	dc.b $02, $d5	; Note A#6 on channel FM 3
	dc.b $04, $a5	; Note D-5 on channel FM 4
	dc.b $f4, $80	; Set params for channel FM 4
	dc.b $45, $18	; Set instrument for channel FM 5
	dc.b $25, $2f	; Set volume for channel FM 5
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $13, Row 25; 
	dc.b $fe, $03	; Delay
	dc.b $25, $2e	; Set volume for channel FM 5
; Pattern $13, Row 26; 
	dc.b $fe, $02	; Delay
	dc.b $25, $2d	; Set volume for channel FM 5
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $13, Row 27; 
	dc.b $fe, $03	; Delay
	dc.b $25, $2b	; Set volume for channel FM 5
; Pattern $13, Row 28; 
	dc.b $fe, $02	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $f1, $80	; Set params for channel FM 2
	dc.b $14		; Note off channel FM 4
	dc.b $25, $2a	; Set volume for channel FM 5
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $13, Row 29; 
	dc.b $fe, $03	; Delay
	dc.b $25, $28	; Set volume for channel FM 5
; Pattern $13, Row 30; 
	dc.b $fe, $02	; Delay
	dc.b $25, $27	; Set volume for channel FM 5
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $13, Row 31; 
	dc.b $fe, $03	; Delay
	dc.b $25, $25	; Set volume for channel FM 5
; Pattern $13, Row 32; 
	dc.b $fe, $02	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
	dc.b $25, $24	; Set volume for channel FM 5
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $13, Row 33; 
	dc.b $fe, $03	; Delay
	dc.b $25, $22	; Set volume for channel FM 5
; Pattern $13, Row 34; 
	dc.b $fe, $02	; Delay
	dc.b $25, $21	; Set volume for channel FM 5
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $13, Row 35; 
	dc.b $fe, $03	; Delay
	dc.b $25, $1f	; Set volume for channel FM 5
; Pattern $13, Row 36; 
	dc.b $fe, $02	; Delay
	dc.b $01, $af	; Note G-5 on channel FM 2
	dc.b $25, $1e	; Set volume for channel FM 5
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $13, Row 37; 
	dc.b $fe, $03	; Delay
	dc.b $25, $1d	; Set volume for channel FM 5
; Pattern $13, Row 38; 
	dc.b $fe, $02	; Delay
	dc.b $25, $1b	; Set volume for channel FM 5
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $13, Row 39; 
	dc.b $fe, $03	; Delay
	dc.b $25, $1a	; Set volume for channel FM 5
; Pattern $13, Row 40; 
	dc.b $fe, $02	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
	dc.b $f0, $40	; Set params for channel FM 1
	dc.b $25, $18	; Set volume for channel FM 5
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $13, Row 41; 
	dc.b $fe, $03	; Delay
	dc.b $25, $17	; Set volume for channel FM 5
; Pattern $13, Row 42; 
	dc.b $fe, $02	; Delay
	dc.b $25, $15	; Set volume for channel FM 5
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $13, Row 43; 
	dc.b $fe, $03	; Delay
	dc.b $25, $14	; Set volume for channel FM 5
; Pattern $13, Row 44; 
	dc.b $fe, $02	; Delay
	dc.b $01, $ab	; Note F-5 on channel FM 2
	dc.b $25, $12	; Set volume for channel FM 5
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $13, Row 45; 
	dc.b $fe, $03	; Delay
	dc.b $25, $11	; Set volume for channel FM 5
; Pattern $13, Row 46; 
	dc.b $fe, $02	; Delay
	dc.b $25, $0f	; Set volume for channel FM 5
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $13, Row 47; 
; Pattern $14, Row 0; 
	dc.b $fe, $05	; Delay
	dc.b $00, $d1	; Note G#6 on channel FM 1
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $14, Row 1; 
; Pattern $14, Row 2; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $14, Row 3; 
; Pattern $14, Row 4; 
	dc.b $fe, $05	; Delay
	dc.b $01, $cf	; Note G-6 on channel FM 2
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $14, Row 5; 
; Pattern $14, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $14, Row 7; 
; Pattern $14, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $02, $c1	; Note C-6 on channel FM 3
	dc.b $44, $1f	; Set instrument for channel FM 4
	dc.b $24, $0d	; Set volume for channel FM 4
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $c0	; Set params for channel FM 4
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $14, Row 9; 
; Pattern $14, Row 10; 
	dc.b $fe, $05	; Delay
	dc.b $24, $17	; Set volume for channel FM 4
	dc.b $04, $81	; Note C-4 on channel FM 4
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $14, Row 11; 
; Pattern $14, Row 12; 
	dc.b $fe, $05	; Delay
	dc.b $44, $17	; Set instrument for channel FM 4
	dc.b $04, $b5	; Note A#5 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $14, Row 13; 
; Pattern $14, Row 14; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $14, Row 15; 
; Pattern $14, Row 16; 
	dc.b $fe, $05	; Delay
	dc.b $00, $d5	; Note A#6 on channel FM 1
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $14, Row 17; 
; Pattern $14, Row 18; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $14, Row 19; 
; Pattern $14, Row 20; 
	dc.b $fe, $05	; Delay
	dc.b $01, $e1	; Note C-7 on channel FM 2
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $14, Row 21; 
; Pattern $14, Row 22; 
	dc.b $fe, $05	; Delay
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $14, Row 23; 
; Pattern $14, Row 24; 
	dc.b $fe, $05	; Delay
	dc.b $02, $c1	; Note C-6 on channel FM 3
	dc.b $44, $1f	; Set instrument for channel FM 4
	dc.b $24, $0d	; Set volume for channel FM 4
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $c0	; Set params for channel FM 4
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $14, Row 25; 
; Pattern $14, Row 26; 
	dc.b $fe, $05	; Delay
	dc.b $24, $17	; Set volume for channel FM 4
	dc.b $04, $81	; Note C-4 on channel FM 4
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $14, Row 27; 
; Pattern $14, Row 28; 
	dc.b $fe, $05	; Delay
	dc.b $44, $17	; Set instrument for channel FM 4
	dc.b $04, $c5	; Note D-6 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $14, Row 29; 
; Pattern $14, Row 30; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $14, Row 31; 
; Pattern $14, Row 32; 
	dc.b $fe, $05	; Delay
	dc.b $00, $e5	; Note D-7 on channel FM 1
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $14, Row 33; 
; Pattern $14, Row 34; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $14, Row 35; 
; Pattern $14, Row 36; 
	dc.b $fe, $05	; Delay
	dc.b $01, $d5	; Note A#6 on channel FM 2
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $14, Row 37; 
; Pattern $14, Row 38; 
	dc.b $fe, $05	; Delay
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $14, Row 39; 
; Pattern $14, Row 40; 
	dc.b $fe, $05	; Delay
	dc.b $02, $e1	; Note C-7 on channel FM 3
	dc.b $44, $1f	; Set instrument for channel FM 4
	dc.b $24, $0d	; Set volume for channel FM 4
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $c0	; Set params for channel FM 4
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $14, Row 41; 
; Pattern $14, Row 42; 
	dc.b $fe, $05	; Delay
	dc.b $24, $17	; Set volume for channel FM 4
	dc.b $04, $81	; Note C-4 on channel FM 4
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $14, Row 43; 
; Pattern $14, Row 44; 
	dc.b $fe, $05	; Delay
	dc.b $44, $17	; Set instrument for channel FM 4
	dc.b $04, $cf	; Note G-6 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $14, Row 45; 
; Pattern $14, Row 46; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $14, Row 47; 
; Pattern $15, Row 0; 
	dc.b $fe, $05	; Delay
	dc.b $00, $d1	; Note G#6 on channel FM 1
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $15, Row 1; 
; Pattern $15, Row 2; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $15, Row 3; 
; Pattern $15, Row 4; 
	dc.b $fe, $05	; Delay
	dc.b $01, $cf	; Note G-6 on channel FM 2
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $15, Row 5; 
; Pattern $15, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $15, Row 7; 
; Pattern $15, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $02, $c1	; Note C-6 on channel FM 3
	dc.b $44, $1f	; Set instrument for channel FM 4
	dc.b $24, $0d	; Set volume for channel FM 4
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $c0	; Set params for channel FM 4
	dc.b $05, $c5	; Note D-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $15, Row 9; 
; Pattern $15, Row 10; 
	dc.b $fe, $05	; Delay
	dc.b $24, $17	; Set volume for channel FM 4
	dc.b $04, $81	; Note C-4 on channel FM 4
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $15, Row 11; 
; Pattern $15, Row 12; 
	dc.b $fe, $05	; Delay
	dc.b $44, $17	; Set instrument for channel FM 4
	dc.b $04, $b5	; Note A#5 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $15, Row 13; 
; Pattern $15, Row 14; 
	dc.b $fe, $05	; Delay
	dc.b $05, $a5	; Note D-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $15, Row 15; 
; Pattern $15, Row 16; 
	dc.b $fe, $05	; Delay
	dc.b $00, $d5	; Note A#6 on channel FM 1
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $15, Row 17; 
; Pattern $15, Row 18; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $15, Row 19; 
; Pattern $15, Row 20; 
	dc.b $fe, $05	; Delay
	dc.b $01, $e1	; Note C-7 on channel FM 2
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $15, Row 21; 
; Pattern $15, Row 22; 
	dc.b $fe, $05	; Delay
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $15, Row 23; 
; Pattern $15, Row 24; 
	dc.b $fe, $05	; Delay
	dc.b $02, $c1	; Note C-6 on channel FM 3
	dc.b $44, $1f	; Set instrument for channel FM 4
	dc.b $24, $0d	; Set volume for channel FM 4
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $c0	; Set params for channel FM 4
	dc.b $05, $c5	; Note D-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $15, Row 25; 
; Pattern $15, Row 26; 
	dc.b $fe, $05	; Delay
	dc.b $24, $17	; Set volume for channel FM 4
	dc.b $04, $81	; Note C-4 on channel FM 4
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $15, Row 27; 
; Pattern $15, Row 28; 
	dc.b $fe, $05	; Delay
	dc.b $44, $17	; Set instrument for channel FM 4
	dc.b $04, $c5	; Note D-6 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $15, Row 29; 
; Pattern $15, Row 30; 
	dc.b $fe, $05	; Delay
	dc.b $05, $a5	; Note D-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $15, Row 31; 
; Pattern $15, Row 32; 
	dc.b $fe, $05	; Delay
	dc.b $00, $e5	; Note D-7 on channel FM 1
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $15, Row 33; 
; Pattern $15, Row 34; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $15, Row 35; 
; Pattern $15, Row 36; 
	dc.b $fe, $05	; Delay
	dc.b $01, $d5	; Note A#6 on channel FM 2
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $15, Row 37; 
; Pattern $15, Row 38; 
	dc.b $fe, $05	; Delay
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $15, Row 39; 
; Pattern $15, Row 40; 
	dc.b $fe, $05	; Delay
	dc.b $02, $e1	; Note C-7 on channel FM 3
	dc.b $44, $1f	; Set instrument for channel FM 4
	dc.b $24, $0d	; Set volume for channel FM 4
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $c0	; Set params for channel FM 4
	dc.b $05, $c5	; Note D-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $15, Row 41; 
; Pattern $15, Row 42; 
	dc.b $fe, $05	; Delay
	dc.b $24, $17	; Set volume for channel FM 4
	dc.b $04, $81	; Note C-4 on channel FM 4
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $15, Row 43; 
; Pattern $15, Row 44; 
	dc.b $fe, $05	; Delay
	dc.b $44, $17	; Set instrument for channel FM 4
	dc.b $04, $cf	; Note G-6 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $15, Row 45; 
; Pattern $15, Row 46; 
	dc.b $fe, $05	; Delay
	dc.b $05, $a5	; Note D-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $15, Row 47; 
; Pattern $16, Row 0; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $16, Row 1; 
; Pattern $16, Row 2; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $16, Row 3; 
; Pattern $16, Row 4; 
	dc.b $fe, $05	; Delay
	dc.b $01, $b5	; Note A#5 on channel FM 2
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $16, Row 5; 
; Pattern $16, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $16, Row 7; 
; Pattern $16, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $02, $cb	; Note F-6 on channel FM 3
	dc.b $44, $1f	; Set instrument for channel FM 4
	dc.b $24, $0d	; Set volume for channel FM 4
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $c0	; Set params for channel FM 4
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $16, Row 9; 
; Pattern $16, Row 10; 
	dc.b $fe, $05	; Delay
	dc.b $24, $17	; Set volume for channel FM 4
	dc.b $04, $81	; Note C-4 on channel FM 4
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $16, Row 11; 
; Pattern $16, Row 12; 
	dc.b $fe, $05	; Delay
	dc.b $44, $17	; Set instrument for channel FM 4
	dc.b $04, $d5	; Note A#6 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $16, Row 13; 
; Pattern $16, Row 14; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $16, Row 15; 
; Pattern $16, Row 16; 
	dc.b $fe, $05	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $16, Row 17; 
; Pattern $16, Row 18; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $16, Row 19; 
; Pattern $16, Row 20; 
	dc.b $fe, $05	; Delay
	dc.b $01, $cb	; Note F-6 on channel FM 2
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $16, Row 21; 
; Pattern $16, Row 22; 
	dc.b $fe, $05	; Delay
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $16, Row 23; 
; Pattern $16, Row 24; 
	dc.b $fe, $05	; Delay
	dc.b $02, $d5	; Note A#6 on channel FM 3
	dc.b $44, $1f	; Set instrument for channel FM 4
	dc.b $24, $0d	; Set volume for channel FM 4
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $c0	; Set params for channel FM 4
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $16, Row 25; 
; Pattern $16, Row 26; 
	dc.b $fe, $05	; Delay
	dc.b $24, $17	; Set volume for channel FM 4
	dc.b $04, $81	; Note C-4 on channel FM 4
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $16, Row 27; 
; Pattern $16, Row 28; 
	dc.b $fe, $05	; Delay
	dc.b $44, $17	; Set instrument for channel FM 4
	dc.b $04, $e1	; Note C-7 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $16, Row 29; 
; Pattern $16, Row 30; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $16, Row 31; 
; Pattern $16, Row 32; 
	dc.b $fe, $05	; Delay
	dc.b $00, $e5	; Note D-7 on channel FM 1
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $16, Row 33; 
; Pattern $16, Row 34; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $16, Row 35; 
; Pattern $16, Row 36; 
	dc.b $fe, $05	; Delay
	dc.b $01, $b5	; Note A#5 on channel FM 2
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $16, Row 37; 
; Pattern $16, Row 38; 
	dc.b $fe, $05	; Delay
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $16, Row 39; 
; Pattern $16, Row 40; 
	dc.b $fe, $05	; Delay
	dc.b $02, $cb	; Note F-6 on channel FM 3
	dc.b $44, $1f	; Set instrument for channel FM 4
	dc.b $24, $0d	; Set volume for channel FM 4
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $c0	; Set params for channel FM 4
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $16, Row 41; 
; Pattern $16, Row 42; 
	dc.b $fe, $05	; Delay
	dc.b $24, $17	; Set volume for channel FM 4
	dc.b $04, $81	; Note C-4 on channel FM 4
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $16, Row 43; 
; Pattern $16, Row 44; 
	dc.b $fe, $05	; Delay
	dc.b $44, $17	; Set instrument for channel FM 4
	dc.b $04, $c1	; Note C-6 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $16, Row 45; 
; Pattern $16, Row 46; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $16, Row 47; 
; Pattern $17, Row 0; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $17, Row 1; 
; Pattern $17, Row 2; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $17, Row 3; 
; Pattern $17, Row 4; 
	dc.b $fe, $05	; Delay
	dc.b $01, $b5	; Note A#5 on channel FM 2
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $17, Row 5; 
; Pattern $17, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $17, Row 7; 
; Pattern $17, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $02, $cb	; Note F-6 on channel FM 3
	dc.b $44, $1f	; Set instrument for channel FM 4
	dc.b $24, $0d	; Set volume for channel FM 4
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $c0	; Set params for channel FM 4
	dc.b $05, $c5	; Note D-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $17, Row 9; 
; Pattern $17, Row 10; 
	dc.b $fe, $05	; Delay
	dc.b $24, $17	; Set volume for channel FM 4
	dc.b $04, $81	; Note C-4 on channel FM 4
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $17, Row 11; 
; Pattern $17, Row 12; 
	dc.b $fe, $05	; Delay
	dc.b $44, $17	; Set instrument for channel FM 4
	dc.b $04, $d5	; Note A#6 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $17, Row 13; 
; Pattern $17, Row 14; 
	dc.b $fe, $05	; Delay
	dc.b $05, $a5	; Note D-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $17, Row 15; 
; Pattern $17, Row 16; 
	dc.b $fe, $05	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $17, Row 17; 
; Pattern $17, Row 18; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $17, Row 19; 
; Pattern $17, Row 20; 
	dc.b $fe, $05	; Delay
	dc.b $01, $cb	; Note F-6 on channel FM 2
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $17, Row 21; 
; Pattern $17, Row 22; 
	dc.b $fe, $05	; Delay
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $17, Row 23; 
; Pattern $17, Row 24; 
	dc.b $fe, $05	; Delay
	dc.b $02, $d5	; Note A#6 on channel FM 3
	dc.b $44, $1f	; Set instrument for channel FM 4
	dc.b $24, $0d	; Set volume for channel FM 4
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $c0	; Set params for channel FM 4
	dc.b $05, $c5	; Note D-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $17, Row 25; 
; Pattern $17, Row 26; 
	dc.b $fe, $05	; Delay
	dc.b $24, $17	; Set volume for channel FM 4
	dc.b $04, $81	; Note C-4 on channel FM 4
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $17, Row 27; 
; Pattern $17, Row 28; 
	dc.b $fe, $05	; Delay
	dc.b $44, $17	; Set instrument for channel FM 4
	dc.b $04, $e1	; Note C-7 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $17, Row 29; 
; Pattern $17, Row 30; 
	dc.b $fe, $05	; Delay
	dc.b $05, $a5	; Note D-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $17, Row 31; 
; Pattern $17, Row 32; 
	dc.b $fe, $05	; Delay
	dc.b $00, $e5	; Note D-7 on channel FM 1
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $17, Row 33; 
; Pattern $17, Row 34; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $17, Row 35; 
; Pattern $17, Row 36; 
	dc.b $fe, $05	; Delay
	dc.b $01, $b5	; Note A#5 on channel FM 2
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $17, Row 37; 
; Pattern $17, Row 38; 
	dc.b $fe, $05	; Delay
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $17, Row 39; 
; Pattern $17, Row 40; 
	dc.b $fe, $05	; Delay
	dc.b $02, $cb	; Note F-6 on channel FM 3
	dc.b $44, $1f	; Set instrument for channel FM 4
	dc.b $24, $0d	; Set volume for channel FM 4
	dc.b $04, $a1	; Note C-5 on channel FM 4
	dc.b $f4, $c0	; Set params for channel FM 4
	dc.b $05, $c5	; Note D-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $17, Row 41; 
; Pattern $17, Row 42; 
	dc.b $fe, $05	; Delay
	dc.b $24, $17	; Set volume for channel FM 4
	dc.b $04, $81	; Note C-4 on channel FM 4
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $17, Row 43; 
; Pattern $17, Row 44; 
	dc.b $fe, $05	; Delay
	dc.b $44, $17	; Set instrument for channel FM 4
	dc.b $04, $c1	; Note C-6 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $17, Row 45; 
; Pattern $17, Row 46; 
	dc.b $fe, $05	; Delay
	dc.b $05, $a5	; Note D-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $17, Row 47; 
; Pattern $18, Row 0; 
	dc.b $fe, $05	; Delay
	dc.b $00, $d1	; Note G#6 on channel FM 1
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $18, Row 1; 
; Pattern $18, Row 2; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $18, Row 3; 
; Pattern $18, Row 4; 
	dc.b $fe, $05	; Delay
	dc.b $01, $cf	; Note G-6 on channel FM 2
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $18, Row 5; 
; Pattern $18, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $18, Row 7; 
; Pattern $18, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $02, $c1	; Note C-6 on channel FM 3
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $18, Row 9; 
; Pattern $18, Row 10; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $18, Row 11; 
; Pattern $18, Row 12; 
	dc.b $fe, $05	; Delay
	dc.b $04, $b5	; Note A#5 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $18, Row 13; 
; Pattern $18, Row 14; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $18, Row 15; 
; Pattern $18, Row 16; 
	dc.b $fe, $05	; Delay
	dc.b $00, $d5	; Note A#6 on channel FM 1
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $18, Row 17; 
; Pattern $18, Row 18; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $18, Row 19; 
; Pattern $18, Row 20; 
	dc.b $fe, $05	; Delay
	dc.b $01, $e1	; Note C-7 on channel FM 2
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $18, Row 21; 
; Pattern $18, Row 22; 
	dc.b $fe, $05	; Delay
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $18, Row 23; 
; Pattern $18, Row 24; 
	dc.b $fe, $05	; Delay
	dc.b $02, $c1	; Note C-6 on channel FM 3
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $18, Row 25; 
; Pattern $18, Row 26; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $18, Row 27; 
; Pattern $18, Row 28; 
	dc.b $fe, $05	; Delay
	dc.b $04, $c5	; Note D-6 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $18, Row 29; 
; Pattern $18, Row 30; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $18, Row 31; 
; Pattern $18, Row 32; 
	dc.b $fe, $05	; Delay
	dc.b $00, $e5	; Note D-7 on channel FM 1
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $18, Row 33; 
; Pattern $18, Row 34; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $18, Row 35; 
; Pattern $18, Row 36; 
	dc.b $fe, $05	; Delay
	dc.b $01, $d5	; Note A#6 on channel FM 2
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $18, Row 37; 
; Pattern $18, Row 38; 
	dc.b $fe, $05	; Delay
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $18, Row 39; 
; Pattern $18, Row 40; 
	dc.b $fe, $05	; Delay
	dc.b $02, $e1	; Note C-7 on channel FM 3
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $18, Row 41; 
; Pattern $18, Row 42; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $18, Row 43; 
; Pattern $18, Row 44; 
	dc.b $fe, $05	; Delay
	dc.b $04, $cf	; Note G-6 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $18, Row 45; 
; Pattern $18, Row 46; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $18, Row 47; 
; Pattern $19, Row 0; 
	dc.b $fe, $05	; Delay
	dc.b $00, $d1	; Note G#6 on channel FM 1
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $19, Row 1; 
; Pattern $19, Row 2; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $19, Row 3; 
; Pattern $19, Row 4; 
	dc.b $fe, $05	; Delay
	dc.b $01, $cf	; Note G-6 on channel FM 2
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $19, Row 5; 
; Pattern $19, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $19, Row 7; 
; Pattern $19, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $02, $c1	; Note C-6 on channel FM 3
	dc.b $05, $c5	; Note D-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $19, Row 9; 
; Pattern $19, Row 10; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $19, Row 11; 
; Pattern $19, Row 12; 
	dc.b $fe, $05	; Delay
	dc.b $04, $b5	; Note A#5 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $19, Row 13; 
; Pattern $19, Row 14; 
	dc.b $fe, $05	; Delay
	dc.b $05, $a5	; Note D-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $19, Row 15; 
; Pattern $19, Row 16; 
	dc.b $fe, $05	; Delay
	dc.b $00, $d5	; Note A#6 on channel FM 1
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $19, Row 17; 
; Pattern $19, Row 18; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $19, Row 19; 
; Pattern $19, Row 20; 
	dc.b $fe, $05	; Delay
	dc.b $01, $e1	; Note C-7 on channel FM 2
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $19, Row 21; 
; Pattern $19, Row 22; 
	dc.b $fe, $05	; Delay
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $19, Row 23; 
; Pattern $19, Row 24; 
	dc.b $fe, $05	; Delay
	dc.b $02, $c1	; Note C-6 on channel FM 3
	dc.b $05, $c5	; Note D-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $19, Row 25; 
; Pattern $19, Row 26; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $19, Row 27; 
; Pattern $19, Row 28; 
	dc.b $fe, $05	; Delay
	dc.b $04, $c5	; Note D-6 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $19, Row 29; 
; Pattern $19, Row 30; 
	dc.b $fe, $05	; Delay
	dc.b $05, $a5	; Note D-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $19, Row 31; 
; Pattern $19, Row 32; 
	dc.b $fe, $05	; Delay
	dc.b $00, $e5	; Note D-7 on channel FM 1
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $19, Row 33; 
; Pattern $19, Row 34; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $19, Row 35; 
; Pattern $19, Row 36; 
	dc.b $fe, $05	; Delay
	dc.b $01, $d5	; Note A#6 on channel FM 2
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $19, Row 37; 
; Pattern $19, Row 38; 
	dc.b $fe, $05	; Delay
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $19, Row 39; 
; Pattern $19, Row 40; 
	dc.b $fe, $05	; Delay
	dc.b $02, $e1	; Note C-7 on channel FM 3
	dc.b $05, $c5	; Note D-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $19, Row 41; 
; Pattern $19, Row 42; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $19, Row 43; 
; Pattern $19, Row 44; 
	dc.b $fe, $05	; Delay
	dc.b $04, $cf	; Note G-6 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $19, Row 45; 
; Pattern $19, Row 46; 
	dc.b $fe, $05	; Delay
	dc.b $05, $a5	; Note D-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $19, Row 47; 
; Pattern $1a, Row 0; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
	dc.b $25, $1f	; Set volume for channel FM 5
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1a, Row 1; 
; Pattern $1a, Row 2; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1a, Row 3; 
; Pattern $1a, Row 4; 
	dc.b $fe, $05	; Delay
	dc.b $01, $b5	; Note A#5 on channel FM 2
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1a, Row 5; 
; Pattern $1a, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1a, Row 7; 
; Pattern $1a, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $02, $cb	; Note F-6 on channel FM 3
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1a, Row 9; 
; Pattern $1a, Row 10; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1a, Row 11; 
; Pattern $1a, Row 12; 
	dc.b $fe, $05	; Delay
	dc.b $04, $d5	; Note A#6 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1a, Row 13; 
; Pattern $1a, Row 14; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1a, Row 15; 
; Pattern $1a, Row 16; 
	dc.b $fe, $05	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1a, Row 17; 
; Pattern $1a, Row 18; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1a, Row 19; 
; Pattern $1a, Row 20; 
	dc.b $fe, $05	; Delay
	dc.b $01, $cb	; Note F-6 on channel FM 2
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1a, Row 21; 
; Pattern $1a, Row 22; 
	dc.b $fe, $05	; Delay
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1a, Row 23; 
; Pattern $1a, Row 24; 
	dc.b $fe, $05	; Delay
	dc.b $02, $d5	; Note A#6 on channel FM 3
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1a, Row 25; 
; Pattern $1a, Row 26; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1a, Row 27; 
; Pattern $1a, Row 28; 
	dc.b $fe, $05	; Delay
	dc.b $04, $e1	; Note C-7 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1a, Row 29; 
; Pattern $1a, Row 30; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1a, Row 31; 
; Pattern $1a, Row 32; 
	dc.b $fe, $05	; Delay
	dc.b $00, $e5	; Note D-7 on channel FM 1
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1a, Row 33; 
; Pattern $1a, Row 34; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1a, Row 35; 
; Pattern $1a, Row 36; 
	dc.b $fe, $05	; Delay
	dc.b $01, $b5	; Note A#5 on channel FM 2
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1a, Row 37; 
; Pattern $1a, Row 38; 
	dc.b $fe, $05	; Delay
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1a, Row 39; 
; Pattern $1a, Row 40; 
	dc.b $fe, $05	; Delay
	dc.b $02, $cb	; Note F-6 on channel FM 3
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1a, Row 41; 
; Pattern $1a, Row 42; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1a, Row 43; 
; Pattern $1a, Row 44; 
	dc.b $fe, $05	; Delay
	dc.b $04, $c1	; Note C-6 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1a, Row 45; 
; Pattern $1a, Row 46; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1a, Row 47; 
; Pattern $1b, Row 0; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
	dc.b $25, $27	; Set volume for channel FM 5
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1b, Row 1; 
; Pattern $1b, Row 2; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1b, Row 3; 
; Pattern $1b, Row 4; 
	dc.b $fe, $05	; Delay
	dc.b $01, $b5	; Note A#5 on channel FM 2
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1b, Row 5; 
; Pattern $1b, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1b, Row 7; 
; Pattern $1b, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $02, $cb	; Note F-6 on channel FM 3
	dc.b $05, $c5	; Note D-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1b, Row 9; 
; Pattern $1b, Row 10; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1b, Row 11; 
; Pattern $1b, Row 12; 
	dc.b $fe, $05	; Delay
	dc.b $04, $d5	; Note A#6 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1b, Row 13; 
; Pattern $1b, Row 14; 
	dc.b $fe, $05	; Delay
	dc.b $05, $a5	; Note D-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1b, Row 15; 
; Pattern $1b, Row 16; 
	dc.b $fe, $05	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1b, Row 17; 
; Pattern $1b, Row 18; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1b, Row 19; 
; Pattern $1b, Row 20; 
	dc.b $fe, $05	; Delay
	dc.b $01, $cb	; Note F-6 on channel FM 2
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1b, Row 21; 
; Pattern $1b, Row 22; 
	dc.b $fe, $05	; Delay
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1b, Row 23; 
; Pattern $1b, Row 24; 
	dc.b $fe, $05	; Delay
	dc.b $02, $d5	; Note A#6 on channel FM 3
	dc.b $05, $c5	; Note D-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1b, Row 25; 
; Pattern $1b, Row 26; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1b, Row 27; 
; Pattern $1b, Row 28; 
	dc.b $fe, $05	; Delay
	dc.b $04, $e1	; Note C-7 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1b, Row 29; 
; Pattern $1b, Row 30; 
	dc.b $fe, $05	; Delay
	dc.b $05, $a5	; Note D-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1b, Row 31; 
; Pattern $1b, Row 32; 
	dc.b $fe, $05	; Delay
	dc.b $00, $e5	; Note D-7 on channel FM 1
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1b, Row 33; 
; Pattern $1b, Row 34; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1b, Row 35; 
; Pattern $1b, Row 36; 
	dc.b $fe, $05	; Delay
	dc.b $01, $b5	; Note A#5 on channel FM 2
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1b, Row 37; 
; Pattern $1b, Row 38; 
	dc.b $fe, $05	; Delay
	dc.b $05, $a7	; Note D#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1b, Row 39; 
; Pattern $1b, Row 40; 
	dc.b $fe, $05	; Delay
	dc.b $02, $cb	; Note F-6 on channel FM 3
	dc.b $05, $c5	; Note D-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1b, Row 41; 
; Pattern $1b, Row 42; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1b, Row 43; 
; Pattern $1b, Row 44; 
	dc.b $fe, $05	; Delay
	dc.b $04, $c1	; Note C-6 on channel FM 4
	dc.b $f4, $40	; Set params for channel FM 4
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1b, Row 45; 
; Pattern $1b, Row 46; 
	dc.b $fe, $05	; Delay
	dc.b $05, $a5	; Note D-5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1b, Row 47; 
; Pattern $1c, Row 0; 
	dc.b $fe, $05	; Delay
	dc.b $00, $ab	; Note F-5 on channel FM 1
; Pattern $1c, Row 1; 
; Pattern $1c, Row 2; 
	dc.b $fe, $05	; Delay
	dc.b $45, $17	; Set instrument for channel FM 5
	dc.b $25, $0f	; Set volume for channel FM 5
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1c, Row 3; 
; Pattern $1c, Row 4; 
	dc.b $fe, $05	; Delay
	dc.b $01, $b5	; Note A#5 on channel FM 2
; Pattern $1c, Row 5; 
; Pattern $1c, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1c, Row 7; 
; Pattern $1c, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $02, $c1	; Note C-6 on channel FM 3
; Pattern $1c, Row 9; 
; Pattern $1c, Row 10; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1c, Row 11; 
; Pattern $1c, Row 12; 
	dc.b $fe, $05	; Delay
	dc.b $04, $b5	; Note A#5 on channel FM 4
; Pattern $1c, Row 13; 
; Pattern $1c, Row 14; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1c, Row 15; 
; Pattern $1c, Row 16; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
; Pattern $1c, Row 17; 
; Pattern $1c, Row 18; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1c, Row 19; 
; Pattern $1c, Row 20; 
	dc.b $fe, $05	; Delay
	dc.b $01, $b1	; Note G#5 on channel FM 2
; Pattern $1c, Row 21; 
; Pattern $1c, Row 22; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1c, Row 23; 
; Pattern $1c, Row 24; 
	dc.b $fe, $05	; Delay
	dc.b $02, $ab	; Note F-5 on channel FM 3
; Pattern $1c, Row 25; 
; Pattern $1c, Row 26; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1c, Row 27; 
; Pattern $1c, Row 28; 
	dc.b $fe, $05	; Delay
	dc.b $04, $c1	; Note C-6 on channel FM 4
; Pattern $1c, Row 29; 
; Pattern $1c, Row 30; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1c, Row 31; 
; Pattern $1c, Row 32; 
	dc.b $fe, $05	; Delay
	dc.b $00, $e7	; Note D#7 on channel FM 1
; Pattern $1c, Row 33; 
; Pattern $1c, Row 34; 
	dc.b $fe, $05	; Delay
	dc.b $05, $e7	; Note D#7 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1c, Row 35; 
; Pattern $1c, Row 36; 
	dc.b $fe, $05	; Delay
	dc.b $01, $e5	; Note D-7 on channel FM 2
; Pattern $1c, Row 37; 
; Pattern $1c, Row 38; 
	dc.b $fe, $05	; Delay
	dc.b $05, $e5	; Note D-7 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1c, Row 39; 
; Pattern $1c, Row 40; 
	dc.b $fe, $05	; Delay
	dc.b $02, $d5	; Note A#6 on channel FM 3
; Pattern $1c, Row 41; 
; Pattern $1c, Row 42; 
	dc.b $fe, $05	; Delay
	dc.b $05, $d5	; Note A#6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1c, Row 43; 
; Pattern $1c, Row 44; 
	dc.b $fe, $05	; Delay
	dc.b $04, $cf	; Note G-6 on channel FM 4
; Pattern $1c, Row 45; 
; Pattern $1c, Row 46; 
	dc.b $fe, $05	; Delay
	dc.b $05, $cf	; Note G-6 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1c, Row 47; 
; Pattern $1d, Row 0; 
	dc.b $fe, $05	; Delay
	dc.b $00, $ab	; Note F-5 on channel FM 1
; Pattern $1d, Row 1; 
; Pattern $1d, Row 2; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1d, Row 3; 
; Pattern $1d, Row 4; 
	dc.b $fe, $05	; Delay
	dc.b $01, $b5	; Note A#5 on channel FM 2
; Pattern $1d, Row 5; 
; Pattern $1d, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1d, Row 7; 
; Pattern $1d, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $02, $c1	; Note C-6 on channel FM 3
; Pattern $1d, Row 9; 
; Pattern $1d, Row 10; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1d, Row 11; 
; Pattern $1d, Row 12; 
	dc.b $fe, $05	; Delay
	dc.b $04, $b5	; Note A#5 on channel FM 4
; Pattern $1d, Row 13; 
; Pattern $1d, Row 14; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1d, Row 15; 
; Pattern $1d, Row 16; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
; Pattern $1d, Row 17; 
; Pattern $1d, Row 18; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1d, Row 19; 
; Pattern $1d, Row 20; 
	dc.b $fe, $05	; Delay
	dc.b $01, $b1	; Note G#5 on channel FM 2
; Pattern $1d, Row 21; 
; Pattern $1d, Row 22; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1d, Row 23; 
; Pattern $1d, Row 24; 
	dc.b $fe, $05	; Delay
	dc.b $02, $ab	; Note F-5 on channel FM 3
; Pattern $1d, Row 25; 
; Pattern $1d, Row 26; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1d, Row 27; 
; Pattern $1d, Row 28; 
	dc.b $fe, $05	; Delay
	dc.b $04, $c1	; Note C-6 on channel FM 4
; Pattern $1d, Row 29; 
; Pattern $1d, Row 30; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1d, Row 31; 
; Pattern $1d, Row 32; 
	dc.b $fe, $05	; Delay
	dc.b $00, $e7	; Note D#7 on channel FM 1
; Pattern $1d, Row 33; 
; Pattern $1d, Row 34; 
	dc.b $fe, $05	; Delay
	dc.b $05, $e7	; Note D#7 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1d, Row 35; 
; Pattern $1d, Row 36; 
	dc.b $fe, $05	; Delay
	dc.b $01, $e5	; Note D-7 on channel FM 2
; Pattern $1d, Row 37; 
; Pattern $1d, Row 38; 
	dc.b $fe, $05	; Delay
	dc.b $05, $e5	; Note D-7 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1d, Row 39; 
; Pattern $1d, Row 40; 
	dc.b $fe, $05	; Delay
	dc.b $02, $d5	; Note A#6 on channel FM 3
; Pattern $1d, Row 41; 
; Pattern $1d, Row 42; 
	dc.b $fe, $05	; Delay
	dc.b $05, $d5	; Note A#6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1d, Row 43; 
; Pattern $1d, Row 44; 
	dc.b $fe, $05	; Delay
	dc.b $04, $cf	; Note G-6 on channel FM 4
; Pattern $1d, Row 45; 
; Pattern $1d, Row 46; 
	dc.b $fe, $05	; Delay
	dc.b $05, $cf	; Note G-6 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1d, Row 47; 
; Pattern $1e, Row 0; 
	dc.b $fe, $05	; Delay
	dc.b $20, $05	; Set volume for channel FM 1
	dc.b $00, $b5	; Note A#5 on channel FM 1
; Pattern $1e, Row 1; 
; Pattern $1e, Row 2; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1e, Row 3; 
; Pattern $1e, Row 4; 
	dc.b $fe, $05	; Delay
	dc.b $21, $05	; Set volume for channel FM 2
	dc.b $01, $c1	; Note C-6 on channel FM 2
; Pattern $1e, Row 5; 
; Pattern $1e, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1e, Row 7; 
; Pattern $1e, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $22, $05	; Set volume for channel FM 3
	dc.b $02, $c5	; Note D-6 on channel FM 3
; Pattern $1e, Row 9; 
; Pattern $1e, Row 10; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c5	; Note D-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1e, Row 11; 
; Pattern $1e, Row 12; 
	dc.b $fe, $05	; Delay
	dc.b $24, $05	; Set volume for channel FM 4
	dc.b $04, $c1	; Note C-6 on channel FM 4
; Pattern $1e, Row 13; 
; Pattern $1e, Row 14; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1e, Row 15; 
; Pattern $1e, Row 16; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
; Pattern $1e, Row 17; 
; Pattern $1e, Row 18; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c5	; Note D-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1e, Row 19; 
; Pattern $1e, Row 20; 
	dc.b $fe, $05	; Delay
	dc.b $01, $b5	; Note A#5 on channel FM 2
; Pattern $1e, Row 21; 
; Pattern $1e, Row 22; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1e, Row 23; 
; Pattern $1e, Row 24; 
	dc.b $fe, $05	; Delay
	dc.b $02, $ab	; Note F-5 on channel FM 3
; Pattern $1e, Row 25; 
; Pattern $1e, Row 26; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1e, Row 27; 
; Pattern $1e, Row 28; 
	dc.b $fe, $05	; Delay
	dc.b $04, $d5	; Note A#6 on channel FM 4
; Pattern $1e, Row 29; 
; Pattern $1e, Row 30; 
	dc.b $fe, $05	; Delay
	dc.b $05, $d5	; Note A#6 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1e, Row 31; 
; Pattern $1e, Row 32; 
	dc.b $fe, $05	; Delay
	dc.b $00, $cb	; Note F-6 on channel FM 1
; Pattern $1e, Row 33; 
; Pattern $1e, Row 34; 
	dc.b $fe, $05	; Delay
	dc.b $05, $cb	; Note F-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1e, Row 35; 
; Pattern $1e, Row 36; 
	dc.b $fe, $05	; Delay
	dc.b $01, $e1	; Note C-7 on channel FM 2
; Pattern $1e, Row 37; 
; Pattern $1e, Row 38; 
	dc.b $fe, $05	; Delay
	dc.b $05, $e1	; Note C-7 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1e, Row 39; 
; Pattern $1e, Row 40; 
	dc.b $fe, $05	; Delay
	dc.b $02, $d1	; Note G#6 on channel FM 3
; Pattern $1e, Row 41; 
; Pattern $1e, Row 42; 
	dc.b $fe, $05	; Delay
	dc.b $05, $d1	; Note G#6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1e, Row 43; 
; Pattern $1e, Row 44; 
	dc.b $fe, $05	; Delay
	dc.b $04, $d5	; Note A#6 on channel FM 4
; Pattern $1e, Row 45; 
; Pattern $1e, Row 46; 
	dc.b $fe, $05	; Delay
	dc.b $05, $d5	; Note A#6 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1e, Row 47; 
; Pattern $1f, Row 0; 
	dc.b $fe, $05	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
; Pattern $1f, Row 1; 
; Pattern $1f, Row 2; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1f, Row 3; 
; Pattern $1f, Row 4; 
	dc.b $fe, $05	; Delay
	dc.b $01, $c1	; Note C-6 on channel FM 2
; Pattern $1f, Row 5; 
; Pattern $1f, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1f, Row 7; 
; Pattern $1f, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $02, $c5	; Note D-6 on channel FM 3
; Pattern $1f, Row 9; 
; Pattern $1f, Row 10; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c5	; Note D-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1f, Row 11; 
; Pattern $1f, Row 12; 
	dc.b $fe, $05	; Delay
	dc.b $04, $c1	; Note C-6 on channel FM 4
; Pattern $1f, Row 13; 
; Pattern $1f, Row 14; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1f, Row 15; 
; Pattern $1f, Row 16; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
; Pattern $1f, Row 17; 
; Pattern $1f, Row 18; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c5	; Note D-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1f, Row 19; 
; Pattern $1f, Row 20; 
	dc.b $fe, $05	; Delay
	dc.b $01, $b5	; Note A#5 on channel FM 2
; Pattern $1f, Row 21; 
; Pattern $1f, Row 22; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1f, Row 23; 
; Pattern $1f, Row 24; 
	dc.b $fe, $05	; Delay
	dc.b $02, $ab	; Note F-5 on channel FM 3
; Pattern $1f, Row 25; 
; Pattern $1f, Row 26; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1f, Row 27; 
; Pattern $1f, Row 28; 
	dc.b $fe, $05	; Delay
	dc.b $04, $d5	; Note A#6 on channel FM 4
; Pattern $1f, Row 29; 
; Pattern $1f, Row 30; 
	dc.b $fe, $05	; Delay
	dc.b $05, $d5	; Note A#6 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1f, Row 31; 
; Pattern $1f, Row 32; 
	dc.b $fe, $05	; Delay
	dc.b $00, $cb	; Note F-6 on channel FM 1
; Pattern $1f, Row 33; 
; Pattern $1f, Row 34; 
	dc.b $fe, $05	; Delay
	dc.b $05, $cb	; Note F-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1f, Row 35; 
; Pattern $1f, Row 36; 
	dc.b $fe, $05	; Delay
	dc.b $01, $e1	; Note C-7 on channel FM 2
; Pattern $1f, Row 37; 
; Pattern $1f, Row 38; 
	dc.b $fe, $05	; Delay
	dc.b $05, $e1	; Note C-7 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1f, Row 39; 
; Pattern $1f, Row 40; 
	dc.b $fe, $05	; Delay
	dc.b $02, $d1	; Note G#6 on channel FM 3
; Pattern $1f, Row 41; 
; Pattern $1f, Row 42; 
	dc.b $fe, $05	; Delay
	dc.b $05, $d1	; Note G#6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $1f, Row 43; 
; Pattern $1f, Row 44; 
	dc.b $fe, $05	; Delay
	dc.b $04, $d5	; Note A#6 on channel FM 4
; Pattern $1f, Row 45; 
; Pattern $1f, Row 46; 
	dc.b $fe, $05	; Delay
	dc.b $05, $d5	; Note A#6 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $1f, Row 47; 
; Pattern $20, Row 0; 
	dc.b $fe, $05	; Delay
	dc.b $20, $07	; Set volume for channel FM 1
	dc.b $00, $ab	; Note F-5 on channel FM 1
; Pattern $20, Row 1; 
; Pattern $20, Row 2; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $20, Row 3; 
; Pattern $20, Row 4; 
	dc.b $fe, $05	; Delay
	dc.b $21, $07	; Set volume for channel FM 2
	dc.b $01, $b5	; Note A#5 on channel FM 2
; Pattern $20, Row 5; 
; Pattern $20, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $20, Row 7; 
; Pattern $20, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $22, $07	; Set volume for channel FM 3
	dc.b $02, $c1	; Note C-6 on channel FM 3
; Pattern $20, Row 9; 
; Pattern $20, Row 10; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $20, Row 11; 
; Pattern $20, Row 12; 
	dc.b $fe, $05	; Delay
	dc.b $24, $07	; Set volume for channel FM 4
	dc.b $04, $b5	; Note A#5 on channel FM 4
; Pattern $20, Row 13; 
; Pattern $20, Row 14; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $20, Row 15; 
; Pattern $20, Row 16; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
; Pattern $20, Row 17; 
; Pattern $20, Row 18; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $20, Row 19; 
; Pattern $20, Row 20; 
	dc.b $fe, $05	; Delay
	dc.b $01, $b1	; Note G#5 on channel FM 2
; Pattern $20, Row 21; 
; Pattern $20, Row 22; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $20, Row 23; 
; Pattern $20, Row 24; 
	dc.b $fe, $05	; Delay
	dc.b $02, $ab	; Note F-5 on channel FM 3
; Pattern $20, Row 25; 
; Pattern $20, Row 26; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $20, Row 27; 
; Pattern $20, Row 28; 
	dc.b $fe, $05	; Delay
	dc.b $04, $c1	; Note C-6 on channel FM 4
; Pattern $20, Row 29; 
; Pattern $20, Row 30; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $20, Row 31; 
; Pattern $20, Row 32; 
	dc.b $fe, $05	; Delay
	dc.b $00, $e7	; Note D#7 on channel FM 1
; Pattern $20, Row 33; 
; Pattern $20, Row 34; 
	dc.b $fe, $05	; Delay
	dc.b $05, $e7	; Note D#7 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $20, Row 35; 
; Pattern $20, Row 36; 
	dc.b $fe, $05	; Delay
	dc.b $01, $e5	; Note D-7 on channel FM 2
; Pattern $20, Row 37; 
; Pattern $20, Row 38; 
	dc.b $fe, $05	; Delay
	dc.b $05, $e5	; Note D-7 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $20, Row 39; 
; Pattern $20, Row 40; 
	dc.b $fe, $05	; Delay
	dc.b $02, $d5	; Note A#6 on channel FM 3
; Pattern $20, Row 41; 
; Pattern $20, Row 42; 
	dc.b $fe, $05	; Delay
	dc.b $05, $d5	; Note A#6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $20, Row 43; 
; Pattern $20, Row 44; 
	dc.b $fe, $05	; Delay
	dc.b $04, $cf	; Note G-6 on channel FM 4
; Pattern $20, Row 45; 
; Pattern $20, Row 46; 
	dc.b $fe, $05	; Delay
	dc.b $05, $cf	; Note G-6 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $20, Row 47; 
; Pattern $21, Row 0; 
	dc.b $fe, $05	; Delay
	dc.b $00, $ab	; Note F-5 on channel FM 1
; Pattern $21, Row 1; 
; Pattern $21, Row 2; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $21, Row 3; 
; Pattern $21, Row 4; 
	dc.b $fe, $05	; Delay
	dc.b $01, $b5	; Note A#5 on channel FM 2
; Pattern $21, Row 5; 
; Pattern $21, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $21, Row 7; 
; Pattern $21, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $02, $c1	; Note C-6 on channel FM 3
; Pattern $21, Row 9; 
; Pattern $21, Row 10; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $21, Row 11; 
; Pattern $21, Row 12; 
	dc.b $fe, $05	; Delay
	dc.b $04, $b5	; Note A#5 on channel FM 4
; Pattern $21, Row 13; 
; Pattern $21, Row 14; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $21, Row 15; 
; Pattern $21, Row 16; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
; Pattern $21, Row 17; 
; Pattern $21, Row 18; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $21, Row 19; 
; Pattern $21, Row 20; 
	dc.b $fe, $05	; Delay
	dc.b $01, $b1	; Note G#5 on channel FM 2
; Pattern $21, Row 21; 
; Pattern $21, Row 22; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $21, Row 23; 
; Pattern $21, Row 24; 
	dc.b $fe, $05	; Delay
	dc.b $02, $ab	; Note F-5 on channel FM 3
; Pattern $21, Row 25; 
; Pattern $21, Row 26; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $21, Row 27; 
; Pattern $21, Row 28; 
	dc.b $fe, $05	; Delay
	dc.b $04, $c1	; Note C-6 on channel FM 4
; Pattern $21, Row 29; 
; Pattern $21, Row 30; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $21, Row 31; 
; Pattern $21, Row 32; 
	dc.b $fe, $05	; Delay
	dc.b $00, $e7	; Note D#7 on channel FM 1
; Pattern $21, Row 33; 
; Pattern $21, Row 34; 
	dc.b $fe, $05	; Delay
	dc.b $05, $e7	; Note D#7 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $21, Row 35; 
; Pattern $21, Row 36; 
	dc.b $fe, $05	; Delay
	dc.b $01, $e5	; Note D-7 on channel FM 2
; Pattern $21, Row 37; 
; Pattern $21, Row 38; 
	dc.b $fe, $05	; Delay
	dc.b $05, $e5	; Note D-7 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $21, Row 39; 
; Pattern $21, Row 40; 
	dc.b $fe, $05	; Delay
	dc.b $02, $d5	; Note A#6 on channel FM 3
; Pattern $21, Row 41; 
; Pattern $21, Row 42; 
	dc.b $fe, $05	; Delay
	dc.b $05, $d5	; Note A#6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $21, Row 43; 
; Pattern $21, Row 44; 
	dc.b $fe, $05	; Delay
	dc.b $04, $cf	; Note G-6 on channel FM 4
; Pattern $21, Row 45; 
; Pattern $21, Row 46; 
	dc.b $fe, $05	; Delay
	dc.b $05, $cf	; Note G-6 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $21, Row 47; 
; Pattern $22, Row 0; 
	dc.b $fe, $05	; Delay
	dc.b $20, $0b	; Set volume for channel FM 1
	dc.b $00, $b5	; Note A#5 on channel FM 1
; Pattern $22, Row 1; 
; Pattern $22, Row 2; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $22, Row 3; 
; Pattern $22, Row 4; 
	dc.b $fe, $05	; Delay
	dc.b $21, $0b	; Set volume for channel FM 2
	dc.b $01, $c1	; Note C-6 on channel FM 2
; Pattern $22, Row 5; 
; Pattern $22, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $22, Row 7; 
; Pattern $22, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $22, $0b	; Set volume for channel FM 3
	dc.b $02, $c5	; Note D-6 on channel FM 3
; Pattern $22, Row 9; 
; Pattern $22, Row 10; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c5	; Note D-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $22, Row 11; 
; Pattern $22, Row 12; 
	dc.b $fe, $05	; Delay
	dc.b $24, $0b	; Set volume for channel FM 4
	dc.b $04, $c1	; Note C-6 on channel FM 4
; Pattern $22, Row 13; 
; Pattern $22, Row 14; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $22, Row 15; 
; Pattern $22, Row 16; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
; Pattern $22, Row 17; 
; Pattern $22, Row 18; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c5	; Note D-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $22, Row 19; 
; Pattern $22, Row 20; 
	dc.b $fe, $05	; Delay
	dc.b $01, $b5	; Note A#5 on channel FM 2
; Pattern $22, Row 21; 
; Pattern $22, Row 22; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $22, Row 23; 
; Pattern $22, Row 24; 
	dc.b $fe, $05	; Delay
	dc.b $02, $ab	; Note F-5 on channel FM 3
; Pattern $22, Row 25; 
; Pattern $22, Row 26; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $22, Row 27; 
; Pattern $22, Row 28; 
	dc.b $fe, $05	; Delay
	dc.b $04, $d5	; Note A#6 on channel FM 4
; Pattern $22, Row 29; 
; Pattern $22, Row 30; 
	dc.b $fe, $05	; Delay
	dc.b $05, $d5	; Note A#6 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $22, Row 31; 
; Pattern $22, Row 32; 
	dc.b $fe, $05	; Delay
	dc.b $00, $cb	; Note F-6 on channel FM 1
; Pattern $22, Row 33; 
; Pattern $22, Row 34; 
	dc.b $fe, $05	; Delay
	dc.b $05, $cb	; Note F-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $22, Row 35; 
; Pattern $22, Row 36; 
	dc.b $fe, $05	; Delay
	dc.b $01, $e1	; Note C-7 on channel FM 2
; Pattern $22, Row 37; 
; Pattern $22, Row 38; 
	dc.b $fe, $05	; Delay
	dc.b $05, $e1	; Note C-7 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $22, Row 39; 
; Pattern $22, Row 40; 
	dc.b $fe, $05	; Delay
	dc.b $02, $d1	; Note G#6 on channel FM 3
; Pattern $22, Row 41; 
; Pattern $22, Row 42; 
	dc.b $fe, $05	; Delay
	dc.b $05, $d1	; Note G#6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $22, Row 43; 
; Pattern $22, Row 44; 
	dc.b $fe, $05	; Delay
	dc.b $04, $d5	; Note A#6 on channel FM 4
; Pattern $22, Row 45; 
; Pattern $22, Row 46; 
	dc.b $fe, $05	; Delay
	dc.b $05, $d5	; Note A#6 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $22, Row 47; 
; Pattern $23, Row 0; 
	dc.b $fe, $05	; Delay
	dc.b $00, $b5	; Note A#5 on channel FM 1
; Pattern $23, Row 1; 
; Pattern $23, Row 2; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $23, Row 3; 
; Pattern $23, Row 4; 
	dc.b $fe, $05	; Delay
	dc.b $01, $c1	; Note C-6 on channel FM 2
; Pattern $23, Row 5; 
; Pattern $23, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $23, Row 7; 
; Pattern $23, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $02, $c5	; Note D-6 on channel FM 3
; Pattern $23, Row 9; 
; Pattern $23, Row 10; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c5	; Note D-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $23, Row 11; 
; Pattern $23, Row 12; 
	dc.b $fe, $05	; Delay
	dc.b $04, $c1	; Note C-6 on channel FM 4
; Pattern $23, Row 13; 
; Pattern $23, Row 14; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $23, Row 15; 
; Pattern $23, Row 16; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
; Pattern $23, Row 17; 
; Pattern $23, Row 18; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c5	; Note D-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $23, Row 19; 
; Pattern $23, Row 20; 
	dc.b $fe, $05	; Delay
	dc.b $01, $b5	; Note A#5 on channel FM 2
; Pattern $23, Row 21; 
; Pattern $23, Row 22; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $23, Row 23; 
; Pattern $23, Row 24; 
	dc.b $fe, $05	; Delay
	dc.b $02, $ab	; Note F-5 on channel FM 3
; Pattern $23, Row 25; 
; Pattern $23, Row 26; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $23, Row 27; 
; Pattern $23, Row 28; 
	dc.b $fe, $05	; Delay
	dc.b $04, $d5	; Note A#6 on channel FM 4
; Pattern $23, Row 29; 
; Pattern $23, Row 30; 
	dc.b $fe, $05	; Delay
	dc.b $05, $d5	; Note A#6 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $23, Row 31; 
; Pattern $23, Row 32; 
	dc.b $fe, $05	; Delay
	dc.b $00, $cb	; Note F-6 on channel FM 1
; Pattern $23, Row 33; 
; Pattern $23, Row 34; 
	dc.b $fe, $05	; Delay
	dc.b $05, $cb	; Note F-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $23, Row 35; 
; Pattern $23, Row 36; 
	dc.b $fe, $05	; Delay
	dc.b $01, $e1	; Note C-7 on channel FM 2
; Pattern $23, Row 37; 
; Pattern $23, Row 38; 
	dc.b $fe, $05	; Delay
	dc.b $05, $e1	; Note C-7 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $23, Row 39; 
; Pattern $23, Row 40; 
	dc.b $fe, $05	; Delay
	dc.b $02, $d1	; Note G#6 on channel FM 3
; Pattern $23, Row 41; 
; Pattern $23, Row 42; 
	dc.b $fe, $05	; Delay
	dc.b $05, $d1	; Note G#6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $23, Row 43; 
; Pattern $23, Row 44; 
	dc.b $fe, $05	; Delay
	dc.b $04, $d5	; Note A#6 on channel FM 4
; Pattern $23, Row 45; 
; Pattern $23, Row 46; 
	dc.b $fe, $05	; Delay
	dc.b $05, $d5	; Note A#6 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $23, Row 47; 
; Pattern $24, Row 0; 
	dc.b $fe, $05	; Delay
	dc.b $20, $0d	; Set volume for channel FM 1
	dc.b $00, $ab	; Note F-5 on channel FM 1
; Pattern $24, Row 1; 
; Pattern $24, Row 2; 
	dc.b $fe, $05	; Delay
	dc.b $25, $17	; Set volume for channel FM 5
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $24, Row 3; 
; Pattern $24, Row 4; 
	dc.b $fe, $05	; Delay
	dc.b $21, $0d	; Set volume for channel FM 2
	dc.b $01, $b5	; Note A#5 on channel FM 2
; Pattern $24, Row 5; 
; Pattern $24, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $24, Row 7; 
; Pattern $24, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $22, $0d	; Set volume for channel FM 3
	dc.b $02, $c1	; Note C-6 on channel FM 3
; Pattern $24, Row 9; 
; Pattern $24, Row 10; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $24, Row 11; 
; Pattern $24, Row 12; 
	dc.b $fe, $05	; Delay
	dc.b $24, $0d	; Set volume for channel FM 4
	dc.b $04, $b5	; Note A#5 on channel FM 4
; Pattern $24, Row 13; 
; Pattern $24, Row 14; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $24, Row 15; 
; Pattern $24, Row 16; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
; Pattern $24, Row 17; 
; Pattern $24, Row 18; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $24, Row 19; 
; Pattern $24, Row 20; 
	dc.b $fe, $05	; Delay
	dc.b $01, $b1	; Note G#5 on channel FM 2
; Pattern $24, Row 21; 
; Pattern $24, Row 22; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $24, Row 23; 
; Pattern $24, Row 24; 
	dc.b $fe, $05	; Delay
	dc.b $02, $ab	; Note F-5 on channel FM 3
; Pattern $24, Row 25; 
; Pattern $24, Row 26; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $24, Row 27; 
; Pattern $24, Row 28; 
	dc.b $fe, $05	; Delay
	dc.b $04, $c1	; Note C-6 on channel FM 4
; Pattern $24, Row 29; 
; Pattern $24, Row 30; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $24, Row 31; 
; Pattern $24, Row 32; 
	dc.b $fe, $05	; Delay
	dc.b $00, $e7	; Note D#7 on channel FM 1
; Pattern $24, Row 33; 
; Pattern $24, Row 34; 
	dc.b $fe, $05	; Delay
	dc.b $05, $e7	; Note D#7 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $24, Row 35; 
; Pattern $24, Row 36; 
	dc.b $fe, $05	; Delay
	dc.b $01, $e5	; Note D-7 on channel FM 2
; Pattern $24, Row 37; 
; Pattern $24, Row 38; 
	dc.b $fe, $05	; Delay
	dc.b $05, $e5	; Note D-7 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $24, Row 39; 
; Pattern $24, Row 40; 
	dc.b $fe, $05	; Delay
	dc.b $02, $d5	; Note A#6 on channel FM 3
; Pattern $24, Row 41; 
; Pattern $24, Row 42; 
	dc.b $fe, $05	; Delay
	dc.b $05, $d5	; Note A#6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $24, Row 43; 
; Pattern $24, Row 44; 
	dc.b $fe, $05	; Delay
	dc.b $04, $cf	; Note G-6 on channel FM 4
; Pattern $24, Row 45; 
; Pattern $24, Row 46; 
	dc.b $fe, $05	; Delay
	dc.b $05, $cf	; Note G-6 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $24, Row 47; 
; Pattern $25, Row 0; 
	dc.b $fe, $05	; Delay
	dc.b $20, $0f	; Set volume for channel FM 1
	dc.b $00, $ab	; Note F-5 on channel FM 1
; Pattern $25, Row 1; 
; Pattern $25, Row 2; 
	dc.b $fe, $05	; Delay
	dc.b $25, $19	; Set volume for channel FM 5
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $25, Row 3; 
; Pattern $25, Row 4; 
	dc.b $fe, $05	; Delay
	dc.b $21, $0f	; Set volume for channel FM 2
	dc.b $01, $b5	; Note A#5 on channel FM 2
; Pattern $25, Row 5; 
; Pattern $25, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $25, Row 7; 
; Pattern $25, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $22, $0f	; Set volume for channel FM 3
	dc.b $02, $c1	; Note C-6 on channel FM 3
; Pattern $25, Row 9; 
; Pattern $25, Row 10; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $25, Row 11; 
; Pattern $25, Row 12; 
	dc.b $fe, $05	; Delay
	dc.b $24, $0f	; Set volume for channel FM 4
	dc.b $04, $b5	; Note A#5 on channel FM 4
; Pattern $25, Row 13; 
; Pattern $25, Row 14; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $25, Row 15; 
; Pattern $25, Row 16; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c1	; Note C-6 on channel FM 1
; Pattern $25, Row 17; 
; Pattern $25, Row 18; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $25, Row 19; 
; Pattern $25, Row 20; 
	dc.b $fe, $05	; Delay
	dc.b $01, $b1	; Note G#5 on channel FM 2
; Pattern $25, Row 21; 
; Pattern $25, Row 22; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b1	; Note G#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $25, Row 23; 
; Pattern $25, Row 24; 
	dc.b $fe, $05	; Delay
	dc.b $02, $ab	; Note F-5 on channel FM 3
; Pattern $25, Row 25; 
; Pattern $25, Row 26; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $25, Row 27; 
; Pattern $25, Row 28; 
	dc.b $fe, $05	; Delay
	dc.b $04, $c1	; Note C-6 on channel FM 4
; Pattern $25, Row 29; 
; Pattern $25, Row 30; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $25, Row 31; 
; Pattern $25, Row 32; 
	dc.b $fe, $05	; Delay
	dc.b $00, $e7	; Note D#7 on channel FM 1
; Pattern $25, Row 33; 
; Pattern $25, Row 34; 
	dc.b $fe, $05	; Delay
	dc.b $05, $e7	; Note D#7 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $25, Row 35; 
; Pattern $25, Row 36; 
	dc.b $fe, $05	; Delay
	dc.b $01, $e5	; Note D-7 on channel FM 2
; Pattern $25, Row 37; 
; Pattern $25, Row 38; 
	dc.b $fe, $05	; Delay
	dc.b $05, $e5	; Note D-7 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $25, Row 39; 
; Pattern $25, Row 40; 
	dc.b $fe, $05	; Delay
	dc.b $02, $d5	; Note A#6 on channel FM 3
; Pattern $25, Row 41; 
; Pattern $25, Row 42; 
	dc.b $fe, $05	; Delay
	dc.b $05, $d5	; Note A#6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $25, Row 43; 
; Pattern $25, Row 44; 
	dc.b $fe, $05	; Delay
	dc.b $04, $cf	; Note G-6 on channel FM 4
; Pattern $25, Row 45; 
; Pattern $25, Row 46; 
	dc.b $fe, $05	; Delay
	dc.b $05, $cf	; Note G-6 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $25, Row 47; 
; Pattern $26, Row 0; 
	dc.b $fe, $05	; Delay
	dc.b $20, $19	; Set volume for channel FM 1
	dc.b $00, $b5	; Note A#5 on channel FM 1
; Pattern $26, Row 1; 
; Pattern $26, Row 2; 
	dc.b $fe, $05	; Delay
	dc.b $25, $1f	; Set volume for channel FM 5
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $26, Row 3; 
; Pattern $26, Row 4; 
	dc.b $fe, $05	; Delay
	dc.b $21, $19	; Set volume for channel FM 2
	dc.b $01, $c1	; Note C-6 on channel FM 2
; Pattern $26, Row 5; 
; Pattern $26, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $26, Row 7; 
; Pattern $26, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $22, $19	; Set volume for channel FM 3
	dc.b $02, $c5	; Note D-6 on channel FM 3
; Pattern $26, Row 9; 
; Pattern $26, Row 10; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c5	; Note D-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $26, Row 11; 
; Pattern $26, Row 12; 
	dc.b $fe, $05	; Delay
	dc.b $24, $19	; Set volume for channel FM 4
	dc.b $04, $c1	; Note C-6 on channel FM 4
; Pattern $26, Row 13; 
; Pattern $26, Row 14; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $26, Row 15; 
; Pattern $26, Row 16; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
; Pattern $26, Row 17; 
; Pattern $26, Row 18; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c5	; Note D-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $26, Row 19; 
; Pattern $26, Row 20; 
	dc.b $fe, $05	; Delay
	dc.b $01, $b5	; Note A#5 on channel FM 2
; Pattern $26, Row 21; 
; Pattern $26, Row 22; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $26, Row 23; 
; Pattern $26, Row 24; 
	dc.b $fe, $05	; Delay
	dc.b $02, $ab	; Note F-5 on channel FM 3
; Pattern $26, Row 25; 
; Pattern $26, Row 26; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $26, Row 27; 
; Pattern $26, Row 28; 
	dc.b $fe, $05	; Delay
	dc.b $04, $d5	; Note A#6 on channel FM 4
; Pattern $26, Row 29; 
; Pattern $26, Row 30; 
	dc.b $fe, $05	; Delay
	dc.b $05, $d5	; Note A#6 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $26, Row 31; 
; Pattern $26, Row 32; 
	dc.b $fe, $05	; Delay
	dc.b $00, $cb	; Note F-6 on channel FM 1
; Pattern $26, Row 33; 
; Pattern $26, Row 34; 
	dc.b $fe, $05	; Delay
	dc.b $05, $cb	; Note F-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $26, Row 35; 
; Pattern $26, Row 36; 
	dc.b $fe, $05	; Delay
	dc.b $01, $e1	; Note C-7 on channel FM 2
; Pattern $26, Row 37; 
; Pattern $26, Row 38; 
	dc.b $fe, $05	; Delay
	dc.b $05, $e1	; Note C-7 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $26, Row 39; 
; Pattern $26, Row 40; 
	dc.b $fe, $05	; Delay
	dc.b $02, $d1	; Note G#6 on channel FM 3
; Pattern $26, Row 41; 
; Pattern $26, Row 42; 
	dc.b $fe, $05	; Delay
	dc.b $05, $d1	; Note G#6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $26, Row 43; 
; Pattern $26, Row 44; 
	dc.b $fe, $05	; Delay
	dc.b $04, $d5	; Note A#6 on channel FM 4
; Pattern $26, Row 45; 
; Pattern $26, Row 46; 
	dc.b $fe, $05	; Delay
	dc.b $05, $d5	; Note A#6 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $26, Row 47; 
; Pattern $27, Row 0; 
	dc.b $fe, $05	; Delay
	dc.b $20, $27	; Set volume for channel FM 1
	dc.b $00, $b5	; Note A#5 on channel FM 1
; Pattern $27, Row 1; 
; Pattern $27, Row 2; 
	dc.b $fe, $05	; Delay
	dc.b $25, $2f	; Set volume for channel FM 5
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $27, Row 3; 
; Pattern $27, Row 4; 
	dc.b $fe, $05	; Delay
	dc.b $21, $27	; Set volume for channel FM 2
	dc.b $01, $c1	; Note C-6 on channel FM 2
; Pattern $27, Row 5; 
; Pattern $27, Row 6; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $27, Row 7; 
; Pattern $27, Row 8; 
	dc.b $fe, $05	; Delay
	dc.b $22, $27	; Set volume for channel FM 3
	dc.b $02, $c5	; Note D-6 on channel FM 3
; Pattern $27, Row 9; 
; Pattern $27, Row 10; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c5	; Note D-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $27, Row 11; 
; Pattern $27, Row 12; 
	dc.b $fe, $05	; Delay
	dc.b $24, $27	; Set volume for channel FM 4
	dc.b $04, $c1	; Note C-6 on channel FM 4
; Pattern $27, Row 13; 
; Pattern $27, Row 14; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c1	; Note C-6 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $27, Row 15; 
; Pattern $27, Row 16; 
	dc.b $fe, $05	; Delay
	dc.b $00, $c5	; Note D-6 on channel FM 1
; Pattern $27, Row 17; 
; Pattern $27, Row 18; 
	dc.b $fe, $05	; Delay
	dc.b $05, $c5	; Note D-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $27, Row 19; 
; Pattern $27, Row 20; 
	dc.b $fe, $05	; Delay
	dc.b $01, $b5	; Note A#5 on channel FM 2
; Pattern $27, Row 21; 
; Pattern $27, Row 22; 
	dc.b $fe, $05	; Delay
	dc.b $05, $b5	; Note A#5 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $27, Row 23; 
; Pattern $27, Row 24; 
	dc.b $fe, $05	; Delay
	dc.b $02, $ab	; Note F-5 on channel FM 3
; Pattern $27, Row 25; 
; Pattern $27, Row 26; 
	dc.b $fe, $05	; Delay
	dc.b $05, $ab	; Note F-5 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $27, Row 27; 
; Pattern $27, Row 28; 
	dc.b $fe, $05	; Delay
	dc.b $04, $d5	; Note A#6 on channel FM 4
; Pattern $27, Row 29; 
; Pattern $27, Row 30; 
	dc.b $fe, $05	; Delay
	dc.b $05, $d5	; Note A#6 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $27, Row 31; 
; Pattern $27, Row 32; 
	dc.b $fe, $05	; Delay
	dc.b $00, $cb	; Note F-6 on channel FM 1
; Pattern $27, Row 33; 
; Pattern $27, Row 34; 
	dc.b $fe, $05	; Delay
	dc.b $05, $cb	; Note F-6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $27, Row 35; 
; Pattern $27, Row 36; 
	dc.b $fe, $05	; Delay
	dc.b $01, $e1	; Note C-7 on channel FM 2
; Pattern $27, Row 37; 
; Pattern $27, Row 38; 
	dc.b $fe, $05	; Delay
	dc.b $05, $e1	; Note C-7 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $27, Row 39; 
; Pattern $27, Row 40; 
	dc.b $fe, $05	; Delay
	dc.b $02, $d1	; Note G#6 on channel FM 3
; Pattern $27, Row 41; 
; Pattern $27, Row 42; 
	dc.b $fe, $05	; Delay
	dc.b $05, $d1	; Note G#6 on channel FM 5
	dc.b $f5, $80	; Set params for channel FM 5
; Pattern $27, Row 43; 
; Pattern $27, Row 44; 
	dc.b $fe, $05	; Delay
	dc.b $04, $d5	; Note A#6 on channel FM 4
; Pattern $27, Row 45; 
; Pattern $27, Row 46; 
	dc.b $fe, $05	; Delay
	dc.b $05, $d5	; Note A#6 on channel FM 5
	dc.b $f5, $40	; Set params for channel FM 5
; Pattern $27, Row 47; 
; Pattern $28, Row 0; 
; Pattern $28, Row 1; 
; Pattern $28, Row 2; 
; Pattern $28, Row 3; 
; Pattern $28, Row 4; 
; Pattern $28, Row 5; 
; Pattern $28, Row 6; 
; Pattern $28, Row 7; 
; Pattern $28, Row 8; 
; Pattern $28, Row 9; 
; Pattern $28, Row 10; 
; Pattern $28, Row 11; 
; Pattern $28, Row 12; 
; Pattern $28, Row 13; 
; Pattern $28, Row 14; 
; Pattern $28, Row 15; 
; Pattern $28, Row 16; 
; Pattern $28, Row 17; 
; Pattern $28, Row 18; 
; Pattern $28, Row 19; 
; Pattern $28, Row 20; 
; Pattern $28, Row 21; 
; Pattern $28, Row 22; 
; Pattern $28, Row 23; 
; Pattern $28, Row 24; 
	dc.b $fe, $41	; Delay
	dc.b $20, $3f	; Set volume for channel FM 1
	dc.b $21, $3f	; Set volume for channel FM 2
	dc.b $22, $3f	; Set volume for channel FM 3
	dc.b $24, $3f	; Set volume for channel FM 4
	dc.b $25, $3f	; Set volume for channel FM 5
; Pattern $28, Row 25; 
; Pattern $28, Row 26; 
; Pattern $28, Row 27; 
; Pattern $28, Row 28; 
; Pattern $28, Row 29; 
; Pattern $28, Row 30; 
; Pattern $28, Row 31; 
; Pattern $28, Row 32; 
; Pattern $28, Row 33; 
; Pattern $28, Row 34; 
; Pattern $28, Row 35; 
; Pattern $28, Row 36; 
; Pattern $28, Row 37; 
; Pattern $28, Row 38; 
; Pattern $28, Row 39; 
; Pattern $28, Row 40; 
; Pattern $28, Row 41; 
; Pattern $28, Row 42; 
; Pattern $28, Row 43; 
; Pattern $28, Row 44; 
; Pattern $28, Row 45; 
; Pattern $28, Row 46; 
; Pattern $28, Row 47; 
	dc.b $fe, $3a	; Delay
	dc.b $10		; Note off channel FM 1
	dc.b $11		; Note off channel FM 2
	dc.b $12		; Note off channel FM 3
	dc.b $14		; Note off channel FM 4
	dc.b $15		; Note off channel FM 5
	dc.b $fe, $02	; Delay
	dc.b $ff	; The End
